<%= fields_for @language do |f| %>
<fieldset class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Enter language name' %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :code %>
  <%= f.text_field :code, class: 'form-control', placeholder: 'Enter language code' %>
</fieldset>
<% end %>
