<tr>
  <td><%= language.id %></td>
  <td><%= language.name %></td>
  <td><%= language.code %></td>
  <td><%= lt(language.created_at) %></td>
  <td><%= lt(language.updated_at) %></td>
  <td>
    <% if language.default_language? %>
      Yes
    <% else %>
      <%= link_to 'Set default', set_default_admin_language_path(language), data: {method: :put, confirm: 'All other field labels in admin area will be displayed in default language. Are you sure you want to set this language as default?'} %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Edit', edit_admin_language_path(language) %>
    <%= link_to 'Delete', admin_language_path(language), data: {method: :delete, confirm: 'Are you sure you want to delete this language?'} %>
  </td>
</tr>
