<h1>
  Account languages
  
  <%= link_to 'Add language', new_admin_language_path, class: 'btn btn-success pull-right' %>
</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Code</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Default</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'language', collection: @languages %>
</table>
