<% if @page.errors.present? %>
  <ul class="p-l-0 text-danger">
    <% @page.errors.keys.each do |k| %>
      <ul class="p-l-0"><%= k %>: <%= @page.errors[k].first %></ul>
    <% end %>
  </ul>
<% end %>
<%= fields_for @page do |f| %>
<fieldset class="form-group">
  <%= f.label :language_id %>
  <%= f.select :language_id, current_account.languages.order(:name).map { |e| [e.name, e.id] }, {}, class: 'form-control' %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :kind %>
  <%= f.select :kind, Page::Kind.values.map { |e| [e.titlecase, e] }, {}, class: 'form-control' %>
  <small class="text-muted">Kind of menu item</small>
</fieldset>
<fieldset class="form-group">
  <%= f.label :name, 'Name *' %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Page name' %>
  <small class="text-muted">Page name in menu</small>
</fieldset>
<fieldset class="form-group">
  <%= f.label :path, 'Path or url *' %>
  <%= f.text_field :path, class: 'form-control', placeholder: 'about-us' %>
  <small class="text-muted">
    Kind "Page": Page path (e.g. "<i>about-us</i>")<br>
    Kind: "Link": Full url (e.g. "<i>http://http://www.societly.org/</i>").
  </small>
</fieldset>
<fieldset class="form-group">
  <%= f.label :hidden, 'Hide from menu' %>
  <%= f.check_box :hidden %>
</fieldset>

<p><strong>Fields for page:</strong></p>
<fieldset class="form-group">
  <%= f.label :title, 'Page title' %>
  <%= f.text_field :title, class: 'form-control', placeholder: 'About us' %>
  <small class="text-muted">Page title in browser titlebar. Also shown in Google search results and Facebook.</small>
</fieldset>
<fieldset class="form-group">
  <%= f.label :description, 'Page description' %>
  <%= f.text_field :description, class: 'form-control', placeholder: 'Short description of the page' %>
  <small class="text-muted">Page description for Facebook and Google search results.</small>
</fieldset>
<fieldset class="form-group">
  <%= f.label :content, 'Page content' %>
  <%= f.text_area :content, class: 'form-control', rows: '20' %>
  <small class="text-muted">Page content (HTML tags are supported).</small>
</fieldset>
<% end %>
