<%= content_tag_for :tr, page do %>
  <td></td>
  <td><%= page.id %></td>
  <td><%= page.name %></td>
  <td><%= page.title %></td>
  <td><%= link_to page.path, (page.link? ? page.path : page_path(current_account.code, :default, page.language.code, page.path)), target: '_blank' %></td>
  <td><%= page.kind.titlecase %></td>
  <td><%= raw '&check;' if page.hidden? %></td>
  <td><%= lt(page.created_at) %></td>
  <td><%= lt(page.updated_at) %></td>
  <td>
    <%= link_to 'Edit', edit_admin_page_path(page) %>
    <%= link_to 'Delete', admin_page_path(page), data: {method: :delete, confirm: 'Are you sure you want to delete this page?'} %>
    <%= link_to '&#9650;'.html_safe, move_admin_page_path(page, language: @language.try(:code), direction: :up), remote: true, method: :put, class: 'move-up', title: 'Move up' %>
    <%= link_to '&#9660;'.html_safe, move_admin_page_path(page, language: @language.try(:code), direction: :down), remote: true, method: :put, class: 'move-down', title: 'Move down' %>
  </td>
<% end %>
