<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <% @languages.each do |lang| %>
    <li class="nav-item">
      <%= link_to lang.name, admin_pages_path(language: lang.code), class: ['nav-link', ('active' if lang.code == @language.try(:code))] %>
    </li>
  <% end %>
</ul>

<h1>
  Account pages
  
  <%= link_to 'Add page', new_admin_page_path(language: @language.try(:code)), class: 'btn btn-success pull-right' %>
</h1>

<table class="table table-bordered sortable">
<thead>
  <tr>
    <th title="Position in menu">#</th>
    <th>ID</th>
    <th>Name</th>
    <th>Title</th>
    <th>Path</th>
    <th>Kind</th>
    <th>Hidden</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'page', collection: @pages %>
</table>
