jQuery(function($) {
  <% if @old_position != @new_position %>
    var row  = $('#<%= dom_id(@page) %>');
    <% if @old_position.to_i > @new_position.to_i %>
      row.insertBefore(row.prev());
    <% else %>
      row.insertAfter(row.next());
    <% end %>
  <% end %>
});
