<%= opts[:log_files] %> {
  weekly
  missingok
  rotate 365
  compress
  delaycompress
  su ubuntu ubuntu
  sharedscripts
  <%- if opts[:postrotate] %>
  postrotate
    <%= opts[:postrotate] %>
  <% end -%>
  endscript
}
