PassengerPoolIdleTime 84600
PassengerMaxPoolSize <%= opts[:passenger_max_pool_size] %>
PassengerMaxInstancesPerApp <%= opts[:passenger_max_pool_size] %>
PassengerUserSwitching off
PassengerDefaultUser <%= opts[:user] %>
PassengerStatThrottleRate 15

Header always unset X-Powered-By

ServerName <%= opts[:server_name] %>

<VirtualHost *:80>
  PassengerRuby /home/<%= opts[:user] %>/.rbenv/shims/ruby
  ServerAdmin <%= opts[:server_admin] %>
  
  RackEnv <%= opts[:app_env] %>
  
  DocumentRoot "/var/rails/societly/current/public"
  <Directory "/var/rails/societly/current/public">
    Order allow,deny
    Allow from all

    Require all granted
    Satisfy Any
  </Directory>
  
  <LocationMatch "^/assets/.*\.(css|js)$">
    RewriteEngine On
    RewriteCond %{HTTP:Accept-Encoding} \b(x-)?gzip\b
    RewriteCond %{REQUEST_FILENAME}.gz -s
    RewriteRule ^(.+)$ $1.gz
  </LocationMatch>
  
  <LocationMatch "^/assets/.*\.css\.gz$">
    ForceType text/css
    Header set Content-Encoding gzip
    Header add Vary Accept-Encoding
  </LocationMatch>
  
  <LocationMatch "^/assets/.*\.js\.gz$">
    ForceType application/javascript
    Header set Content-Encoding gzip
    Header add Vary Accept-Encoding
  </LocationMatch>
  
  <LocationMatch "^/assets/.*-[0-9a-f]{32}.*$">
    Header unset ETag
    FileETag None
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
  </LocationMatch>
  
  <IfModule mod_mime.c>
    AddEncoding gzip .gz
  </IfModule>
</VirtualHost>
