<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Change your password</h2>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.label :password, class: 'sr-only' %>
  <%= f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'New password', class: 'form-control' %>


  <%= f.label :password_confirmation, class: 'sr-only' %>
  <%= f.password_field :password_confirmation, autofocus: true, autocomplete: 'off', placeholder: 'Confirm new password', class: 'form-control' %>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Change my password</button>
  <div class="form-signin-links">
    <%= render "admin/shared/links" %>
  </div>
<% end %>
