<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Forgot password?</h2>

  <%= devise_error_messages! %>

  <%= f.label :email, class: 'sr-only' %>
  <%= f.text_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control' %>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Send instructions</button>
  
  <div class="form-signin-links">
    <%= render "admin/shared/links" %>
  </div>
<% end %>
