<%= fields_for @account do |f| %>
<fieldset class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Enter account name' %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :code %>
  <%= f.text_field :code, class: 'form-control', placeholder: 'Enter account code' %>
</fieldset>

<fieldset class="form-group">
  <div class="col-md-12 checkbox-list">
    <%= f.check_box :is_comparative %>
    <%= f.label :is_comparative %>
  </div>
</fieldset>

<fieldset class="form-group">
  <div class="col-md-12 checkbox-list">
    <%= f.check_box :requires_unique_ref %>
    <%= f.label :requires_unique_ref %>
  </div>
</fieldset>

<h3>Associated accounts</h3>
<fieldset class="form-group">
  <div class="col-md-12 checkbox-list">
    <%= f.collection_check_boxes :account_ids, Account.order(:name).all, :id, :name %>
  </div>
</fieldset>
<% end %>

<h3>Account translations</h3>
<% if @account.new_record? || account_languages.blank? %>
<div class="m-t m-b text-warning">NB! Account translations setup can be done after account has been created AND at least one language has been added to account.</div>
<% else %>
<%= fields_for @account, {}, builder: TranslateableFormBuilder do |f| %>
  <% Account::TRANSLATABLE_KEYS.each do |key| %>
    <fieldset class="form-group">
      <%= f.label key, key %>
      <%= f.translatable_text_area key, class: 'form-control', placeholder: t(key, scope: 'account.keys', default: '') %>
    </fieldset>
  <% end %>
<% end %>
<% end %>
