@font-face {
  font-family:"FranklinITCProLight";
  src:url(/fonts/franklin-itc-pro-light.eot);
  src:url(/fonts/franklin-itc-pro-light.eot?) format("embedded-opentype"),
      url(/fonts/franklin-itc-pro-light.woff) format("woff"),
      url(/fonts/franklin-itc-pro-light.ttf) format("truetype"),
      url(/fonts/franklin-itc-pro-light.svg#web) format("svg");
  font-style:normal;
  font-weight:normal;
}
@font-face{
  font-family:"FranklinITCProThin";
  src:url(/fonts/franklin-itc-pro-thin.eot);
  src:url(/fonts/franklin-itc-pro-thin.eot?) format("embedded-opentype"),
    url(/fonts/franklin-itc-pro-thin.woff) format("woff"),
    url(/fonts/franklin-itc-pro-thin.ttf) format("truetype"),
    url(/fonts/franklin-itc-pro-thin.svg#web) format("svg");
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url(/fonts/fontawesome-webfont.eot);
  src: url(/fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
       url(/fonts/fontawesome-webfont.woff2) format('woff2'),
       url(/fonts/fontawesome-webfont.woff) format('woff'),
       url(/fonts/fontawesome-webfont.ttf) format('truetype'),
       url(/fonts/fontawesome-webfont.svg#fontawesomeregular) format('svg');
  font-weight:normal;
  font-style:normal;
}

body {
  background: transparent;
  color: #2a2a2a;
  font-family: "FranklinITCProLight","Helvetica Neue Light","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1.4;
}
@media screen and (max-width: 550px) {
  body {
    font-size: 16px;
  }
}
a {
color: #2a2a2a;
}
.corner-logo-bg, .corner-logo-bg.ontop-logo {
  background-image: none;
  padding-top: 0;
}
.logo-ontop {
  display: none;
}

.gray-box {
  background: transparent;
    box-shadow: none;
    border: none;
    padding: 40px 45px;
    color: #2a2a2a;
    max-width: none;
}
@media screen and (max-width: 550px) {
  .gray-box {
    padding: 0px;
  }
}

.header {
  display: none;
}

.gray-box h2 {
  font-size: 32px;
  color: #2a2a2a;
}
.question-nrs a {
  font-size: 14px;
  font-family: "FranklinITCProThin";
  border: 1px solid transparent;
}
.white-btn,
.options-wrapper .option,
.styled-radio-label:before,
.question-nrs a.active,
.question-nrs a:hover,
.result-tab-btn,
.facebook-btn, .twitter-btn, .blue-btn-with-states, .blue-btn-with-states.active,
.radar-style-btn {
  font-family: "FranklinITCProLight";
  font-size: 18px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  border: 1px solid #e9e9e9;
  border-bottom-color: #d5d5d5;
  border-bottom-width: 2px;
  border-radius: 4px;
  background: #fff;
  color: #333;
  font-style: normal;
  text-align: center;
  display: inline-block;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.facebook-btn, .twitter-btn {
  vertical-align: middle;
}

@media screen and (max-width: 550px) {
  .white-btn,
  .options-wrapper .option,
  .styled-radio-label:before,
  .question-nrs a.active,
  .question-nrs a:hover,
  .result-tab-btn,
  .facebook-btn, .twitter-btn, .blue-btn-with-states, .blue-btn-with-states.active,
  .radar-style-btn {
    font-size: 14px;
  }
}

.result-tab-btn,
.facebook-btn, .twitter-btn, .blue-btn-with-states, .blue-btn-with-states.active {
  padding: 1em 2em;
}


.question-nrs a.active, .question-nrs a:hover {
  font-size: 14px;
}


.options-wrapper .option  {
  min-height: 60px;
  width: 100px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.3em 0.5em;
}
@media screen and (max-width: 550px) {
  .options-wrapper .option  {
    margin: 5px;
    padding: 0.1em 0.3em;
  }
}

.options-wrapper .option .option-text  {
  display: inline-block;
  line-height: 1.2em;
  vertical-align: middle;

}

.question-nrs {
  background: transparent;
  box-shadow: none;
  padding: 2px;
  border: none;
}

.white-btn:hover,
.options-wrapper .option:hover,
.options-wrapper .option.active,
.styled-radio-label:hover:before,
.styled-radio:checked + .styled-radio-label:before {
  border-color: #2e6d9d;
}
.options-wrapper .option.active,
.styled-radio:checked + .styled-radio-label:before,
.blue-btn-with-states:hover,
.blue-btn-with-states.active,
.result-tab-btn.active,
.radar-style-btn {
  background: #2e6d9d;
  color: white;
  border-color: #265A82;
}

.footer {
  position: static;
  max-width: none;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 915px) {
  .footer {
    max-width: none;
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    padding: 0;
  }
}
.footer-bottom-stripe {
  font-family: "FranklinITCProThin";
  position: static;
  background: transparent;
  width: auto;
  margin-bottom: 0;
  height: auto;
  text-align: left;
  padding: 0 0px;
  box-shadow: none;
  border: none;
  font-size: 16px;
  color: #6c6c6c;
}
.footer-bottom-stripe a {
  color: #6c6c6c;
}

.content {
  margin-bottom: 20px;
  max-width: none;
}
.main-wrapper {
  padding-bottom: 0px;
}

.options-wrapper-outer {
  background: transparent;
  box-shadow: none;
  border: none;
  max-width: none;
  margin: 0 auto;
}
.options-wrapper {
  max-width: none;
}

.options-wrapper .line {
  display: none;
}

.options-wrapper .option .tick {
  display: none;
}

.q-box-collapsed-wrap {
  min-height: 0;
  line-height: 1.5;
  padding:0;
}

.styled-radio-label {
  width: 2.85em;
  height: 2.85em;
  padding-left: 0;
  padding-right: 0;
  line-height: 3em;
}
.styled-radio-label:before {
  font-family: 'FontAwesome';
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(0,0,0,0.2);
}
.balance-row .balance {
  float: right;
  width: 11em;
  text-align: right;
  line-height: 25px;
  padding-right: 0;
  font-size: 20px;
}
.balance-row .nr {
  width: 1.6em;
}

@media screen and (max-width: 550px) {
  .balance-row .balance {
    font-size: 14px;
  }
}
.balance-less-label:before {
  content: "\f060";
}
.balance-more-label:before {
  content: "\f061";
}
.balance-mid-label:before {
  content: "";
}
.balance-mid-label:after {
  font-family: 'FontAwesome';
  white-space:pre;
  content: "\A";
  line-height: 0.5em;
  display: block;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 1px;
  font-size: 18px;
  text-align: center;
  color: rgba(0,0,0,0.2);
}
@media screen and (max-width: 550px) {
  .balance-mid-label:after {
    top: 9px;
  }
}

.styled-radio:checked + .styled-radio-label:after {
  color: white;
}

.balances-view .white-btn {
  width: 11em;
  margin-left: 1em;
  margin-top: 1em;
}
@media screen and (max-width: 550px) {
  .balances-view .white-btn {
    width: 9.9em;
  }
}

 .balance-indicator {
  display: none;
 }

.balances-view .less {
  display: inline-block;
  width: 15px;
  text-indent: -1em;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.balances-view .less:before {
  font-family: 'FontAwesome';
  content: "\f060";
  position: absolute;
  left: -1px;
  top: 3px;
  width: 100%;
  font-size: 16px;
  text-align: right;
}

.balances-view .more {
  display: inline-block;
  width: 15px;
  text-indent: -1em;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.balances-view .more:before {
  font-family: 'FontAwesome';
  content: "\f061";
  position: absolute;
  left: -1px;
  top: 3px;
  width: 100%;
  font-size: 16px;
  text-align: right;
}
.balances-view .equal {
  font-size: 24px;
  position: relative;
  top: 2px;
  line-height: 0;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .balances-view .less:before, .balances-view .more:before {
    left: -3px;
    top: 1px;
    width: 100%;
    font-size: 12px;
  }
  .balances-view .equal {
    top: 4px;
  }

}



.balance-row .question {
  margin-right: 190px;
}
@media screen and (max-width: 550px) {
  .balance-row .question {
    margin-right: 150px;
  }
}

.userinfo-view .white-btn {
  margin-left: 1em;
}

.user-info-row input {
  border-color: #d5d5d5;
  border-radius: 4px;
}
.user-info-row input, .user-info-row select {
  font-size: 16px;
}

.blue-transparent-wrap {
  padding: 40px 0 0 0;
  margin:0;
  background: transparent;
  border: none;
  box-shadow: none;
}
@media screen and (max-width: 915px) {
  .blue-transparent-wrap {
    padding-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .blue-transparent-wrap {
    padding-top: 10px;
  }
}

.radar-list-toggle p {
  display: none;
}
@media screen and (max-width: 915px) {
  .radar-list-toggle, .facebook-btn, .twitter-btn {
    float: none;
ˇ}
 .facebook-txt {
  display: inline;
 }
}
.left-info-box {
  width: auto;
  text-align: center;
  float: none;
}
.facebook-txt p {
  display: none;
}
.facebook-btn, .twitter-btn{
  width: 30px;
  height: auto;
  margin: -4px 8px -4px -4px;
}

.blue-transparent-wrap .result-tab-btn, .blue-transparent-wrap .facebook-btn, .blue-transparent-wrap .twitter-btn{
  padding: 0.8em 1.2em;
  margin: 4px;
}
.radar-list-toggle {
  display: inline;
}
.tabbed-wrapper {
  margin: 2em auto 0 auto;
  float: none;
  font-size: 20px;
  width: auto;
  position: relative;
}

.party-medium-image {
  width: 70px;
  height: 70px;
}

.percent-bar {
  height: 50px;
}
.percent-bar .nr {
  line-height: 50px;
}


.percent-bar-inner {
  background: #2e6d9d;
  font-family: "FranklinITCProThin";
}
.pol-table td {
  padding: 0.5em 0.5em 0.5em 0;
}
.pol-table td:last-child {
  padding-right: 0;
}
.percent-bar-midsize .nr {
  left: 20px;
}
.pol-table thead td {
  padding-bottom: 0;
}
.pol-table tbody tr:hover td {
  background: transparent;
}
.result-list-btns {
  margin-bottom: 1.5em;
}
.pol-table tr td:first-child {
  width: 40%;
}

.pol-table {
  font-size: 18px;
}
.xy-graph {
  font-size: 16px;
  padding: 40px;
}
.partys-xy-table {
  margin:0;
}
.partys-radar-table .pol-table .party-medium-image {
  display: none;
}
.partys-radar-table .pol-table tr td:first-child {
  display: none;
}

@media screen and (max-width: 515px) {
  .partys-dist-table .party-medium-image {
    width: 40px;
    height: 40px;
    max-width: none;
  }
  .partys-dist-table .percent-bar {
    height: 40px;
  }
  .partys-dist-table .percent-bar .nr {
    line-height: 40px;
  }
}


.white-legend, .blue-legend {
  width: 20px;
  height: 20px;
  border-width: 1px;
}

.js-party-radar svg {

  width: 100% !important;
}
.js-party-radar {
    margin: 0;
}

@media screen and (min-width: 916px) {
  .radar-area {
    width: 60%;
    float: left;

  }
  .js-party-radar svg {
    height: 350px;
  }
  .radar-legends {
    width: 60%;
    float: left;
  }
  .partys-radar-table {
    margin-left: 60%;
  }
}

@media screen and (max-width: 400px) {
  .js-party-radar svg {
    zoom: 0.6;
  }
}

.partys-radar-table  table, .partys-radar-table tr, .partys-radar-table td, .partys-radar-table tbody {
  display: block;
  padding:0;
}
.partys-radar-table tr {
  margin-bottom: 0.8em;
}
.partys-radar-table .pol-table-spacier tbody tr td {
  padding:0;
}
@media screen and (max-width: 915px) {
  .pol-table td {
    font-size: 14px;
  }
}
.partys-radar-table .percent-bar {
  height:40px;
}
.partys-radar-table .percent-bar .nr {
  line-height: 40px;
}
.partys-radar-table {
  max-width: none;
  padding:0;
  margin-bottom: 2em;
}
.partys-radar-table thead {
  display: none;
}

.partys-radar-table .percent-bar-inner {
  background: #5a5a5a;
}
.partys-radar-table .blue {
    color: #2a2a2a;
}

.partys-radar-table tr.blue .percent-bar-inner { background-color: #2e6d9d;}
.partys-radar-table tr.green .percent-bar-inner { background-color: #64984A; }
.partys-radar-table tr.red .percent-bar-inner { background-color: #CE5866; }
.partys-radar-table tr.pink .percent-bar-inner { background-color: #E055E8; }
.partys-radar-table tr.yellow .percent-bar-inner { background-color: #C37238 }
.partys-radar-table tr.purple .percent-bar-inner { background-color: #8032AF; }

@media screen and (max-width: 550px) {
  .content {
    padding: 0 0px;
  }
}
.gray-box-no-side-pad {
  max-width: none;
}

.right-picture-box {
  float: none;
  margin-left: 0;
  width: 330px;
}

.right-picture-box img {
  width: 100%;
  max-width: none;
  background: #2e6d9d;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  min-height: 100px;
}

.candidate-info-area {
  width: 330px;
  float: left;
  position: relative;
  top: -64px;
}
.js-question-comparison {
  margin-left: 360px;
  margin-bottom: 2em;
}
.politician-view-box {
  display: inline;
}
.politician-view-box .oldcfx {
  display: none;
}
.politician-view-box h1 {
  margin-left: 360px;
}

.question-comparison {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 0.8em;
}

.answer-boxes {
  margin:0;
}
.question-comparison .answer-boxes .gray-box {
  background: transparent;
  padding:0 0.5em 0 0;
  min-height: 0;
  width: 50%;
  margin:0;
  color: #6c6c6c;
}
.question-comparison .answer-boxes .gray-box.last {
  margin:0;
  padding:0 0 0 0.5em;
}
.question-comparison .answer-boxes .gray-box .box-header {
  display: inline;
  padding:0;
}
.question-comparison .answer-boxes .gray-box .box-header:after {
  content:":";
}
.question-comparison .answer-boxes .gray-box .inner {
  display: inline;
  padding:0;
}

.js-question-comparison .question-text {
  text-align: left;
  font-size: 23px;
  padding:0 0 0.2em 0;
}
.answer_source  {
  clear: both;
  font-size: 16px;
  color: #6c6c6c;
}

.answer_source.txt-right {
  text-align: left;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

}
.answer_source.txt-right a {
  text-decoration: none;
  color: black;
}

.answer_source.txt-right a:hover {
  color: #265A82;
}
.answer_source_link:after {
  font-family: 'FontAwesome';
  content: "\f0dd";
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  position: relative;
  top: -3px;
  margin-left: 0.3em;
}

.candidate-view .begin-again-section {
  margin-left: 360px;
}

.candidate-view .left-data-table, .candidate-view .left-data-table tr, .candidate-view .left-data-table tbody {
  display: block;
}
.candidate-view .left-data-table tr {
  padding: 1em 0;
  font-size: 20px;
}
.candidate-view .left-data-table td {
  display: inline;
  width: auto !important;
}
.candidate-view .left-data-table tr td b:first-child:after {
  content: ":";
}
.candidate-description {
  font-size: 16px;
  margin-top: 1em;
}

.candidate-view .left-data-table {
  display: none;
}

@media screen and (max-width: 730px) {
  .candidate-info-area {
    top:0;
    float: none;
    width: auto;
  }

  .politician-view-box h1 {
    margin-left:0;
  }

  .candidate-info-area .right-picture-box {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
    width: 210px;
  }
  .politician-view-box .oldcfx {
    display: block;
    padding-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  .js-question-comparison, .candidate-view .begin-again-section {
    margin-left:0;
  }
}

@media screen and (max-width: 550px) {
  .candidate-info-area .right-picture-box {
    float: none;
    margin: 0 auto;
  }
  .right-picture-box {
    float: none;
    margin-left: 0;
    width: 140px;
  }
  .question-comparison .answer-boxes .gray-box .box-header {
    display: block;
  }

  .left-info-box {
    text-align: left;
  }
}
.result-list-btns {
  text-align: right;
}

.social-media {
  display: inline;
  float: none;
  text-align: left;
}
.facebook-like-btn, .twitter-follow-btn {
  display: block;
  float: none;
  margin: 1px 0;
}

.social-media-iframebtns {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 70px;
}

@media screen and (max-width: 915px) {
  .social-media-iframebtns {
      height: 50px;
  }
}

.candidate-party {
  margin-top: 1em;
  margin-bottom: 0;
}

.bottom-btn-wrapper {
  text-align: center;
}

.bottom-btn-wrapper .white-btn {
  font-weight: bold;
  background: #2e6d9d;
  color: white;
  border-color: #265A82;
  text-transform: uppercase;
}

/* Used for loading fontawsome icons on start not when first displayed */
.font-preloader {
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  overflow: hidden;
}

.font-preloader:before {
  content: "\A\f060\f061\f0dd";
  font-family: 'FontAwesome';
}

.share-txt {
  display: none;
}

@media screen and (max-width: 915px) {
  .facebook-btn, .twitter-btn {
    border: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 915px) {
  .social-media {
    width: 90px;
  }
}
