<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>

  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control' %>
  <%= f.label :password, class: 'sr-only' %>
  <%= f.password_field :password, autocomplete: :off, placeholder: 'Password', class: 'form-control' %>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        Remember me
      <% end %>
    </div>
  <% end -%>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  
  <div class="form-signin-links">
    <%= render "admin/shared/links" %>
  </div>
<% end %>
