<tr>
  <td><%= candidate.id %></td>
  <td><%= candidate.name %></td>
  <td><%= candidate.code %></td>
  <td><%= link_to('Photo', candidate.public_url, target: '_blank') if candidate.image.present? %></td>
  <td><%= candidate.state.try(:name) %></td>
  <td><%= candidate.district.try(:name) %></td>
  <td><%= l(candidate.created_at, format: '%Y-%m-%d %H:%M') if candidate.created_at %></td>
  <td><%= l(candidate.updated_at, format: '%Y-%m-%d %H:%M') if candidate.updated_at %></td>
  <td data-answers="" data-parameters="">
  	<%# Calclulating normal parameters. TODO: maybe calculation part is better to be moved to a helper or model method %>
	<% @parameters.each do |parameter| %>
	  	<%= parameter.name %>:
		<% param_sum = 0.0 %>
		<% param_polarity_sum = 0.0 %>
	  	<% @questions.each do |question| %>
			<% answer = candidate.answer_for_question(question.id) %>
			<% param_val = question.param_value_for(parameter.id) %>
			<% if param_val != 0 && answer.answer %>
				<% param_sum += [param_val * (answer.answer - 50), 0].max * 2  %>
				<% param_polarity_sum += param_val.abs %>
			<% end %>
		<% end %>

		<% if param_polarity_sum == 0 %>
			NA
		<% else %>
			<%= (param_sum / param_polarity_sum).round(1) %>
		<% end %>
		<br>
	<% end %>

	<%# Calclulating liberal and riht-wing parameters %>
	<% ['xy-lr', 'xy-lc'].each do |parameter| %>
		<% if parameter == 'xy-lc' %>
			Liberal:
		<% else %>
			Right-wing:
		<% end %>
		<% param_sum = 0.0 %>
		<% param_polarity_sum = 0.0 %>
	  	<% @questions.each do |question| %>
			<% answer = candidate.answer_for_question(question.id) %>
			<% param_val = question.param_value_for(parameter) %>
			<% if param_val != 0 && answer.answer %>
				<% param_sum += (param_val * (answer.answer - 50)) + 50  %>
				<% param_polarity_sum += 1 %>
			<% end %>
		<% end %>
		<% if param_polarity_sum == 0 %>
			NA
		<% else %>
			<%= (param_sum / param_polarity_sum).round(1) %>
		<% end %>
		<br>
	<% end %>


  </td>
  <td>
    <%= link_to 'Edit', edit_admin_candidate_path(candidate) %>
    <%= link_to 'Delete', admin_candidate_path(candidate), data: {method: :delete, confirm: 'Are you sure you want to delete this candidate?'} %>
  </td>
</tr>
