<%= fields_for @candidate, {}, builder: TranslateableFormBuilder do |f| %>
<fieldset class="form-group">
  <%= f.label :name %>
  <%= f.translatable_text_field :name, class: 'form-control', placeholder: 'Enter candidate name' %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :code %>
  <%= f.text_field :code, class: 'form-control', placeholder: 'Enter candidate code' %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :description %>
  <%= f.translatable_text_area :description, class: 'form-control', placeholder: 'Enter candidate description' %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :party %>
  <%= f.translatable_text_field :party, class: 'form-control', placeholder: 'Enter candidate party' %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :state_id %>
  <%= f.select :state_id, current_account.states.sorted.map { |e| [e.name, e.id] }, {include_blank: true}, class: 'form-control' %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :district_id %>
  <%= f.select :district_id, current_account.districts.includes(:state).order('states.name, districts.code').map { |e| ["#{e.state.name} - #{e.name}", e.id] }, {include_blank: true}, class: 'form-control' %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :image, 'Candidate photo' %>
  <%= f.file_field :image, class: 'form-control' %>
  <small class="text-muted">Candidate photo. Recommend with is <strong>280px</strong> (rectangle). Supported formats are jpg, png and gif.</small>
</fieldset>
<% end %>
<% if @candidate.image.present? %>
<figure class="figure">
  <%= image_tag @candidate.public_url, style: 'max-width: 280px;', class: 'img-thumbnail pull-left'  %>
</figure>
<% end %>

<h3>Statements</h3>

<table class="table table-questions">
<thead>
<tr>
  <% [0, 25, 50, 75, 100].each do |v| %>
  <th><%= v %></th>
  <% end %>
  <th></th>
  <td class="text-left"><%= link_to 'Expand all', '#expand-all-details', data: {behavior: 'toggle-all-question-details' } %></td>
</tr>

<% @questions.each do |question| %>
<% answer = @candidate.answer_for_question(question.id) %>
<%= fields_for "candidate[question_answers][#{question.id}]", answer do |f| %>
<tr data-question-id="<%= question.id %>">
  <% [0, 25, 50, 75, 100].each do |v| %>
  <td class="text-center">
    <%= f.radio_button :answer, v %>
  </td>
  <% end %>
  <td><%= question.name %></td>
  <td><%= link_to 'Details', '#toggle-details', data: {behavior: 'toggle-question-details'} %></td>
</tr>
<tr class="details-hidden" data-question-details data-question-id="<%= question.id %>">
  <td colspan="5"></td>
  <td colspan="2">
    <div class="row">
      <div class="form-group col-xs-4">
        <%= f.label :source %>
        <%= f.text_field :source, class: 'form-control' %>
      </div>
      <div class="form-group col-xs-4">
        <%= f.label :source_link %>
        <%= f.text_field :source_link, class: 'form-control' %>
      </div>
      <div class="form-group col-xs-4">
        <%= f.label :source_desc %>
        <%= f.text_field :source_desc, class: 'form-control' %>
      </div>
    </div>
  </td>
</tr>
<% end %>
<% end %>
</thead>
</table>
