<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Edit candidate</h1>
    
    <%= form_for [:admin, @candidate], html: {multipart: true} do |f| %>
      <%= render partial: 'form' %>
      <button type="submit" class="btn btn-primary">Save candidate</button>
    <% end %>
  </div>
</div>
