<h1>
  Candidates <small>(<%= @candidates.total_entries %>)</small>
  
  <%= link_to 'Add candidate', new_admin_candidate_path, class: 'btn btn-success pull-right' %>
</h1>

<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <% %w(all country state district).each do |level| %>
    <li class="nav-item">
      <%= link_to level.titlecase, admin_candidates_path(level: level), class: ['nav-link', ('active' if (level == params[:level]) || level == 'all' && params[:level].blank?)] %>
    </li>
  <% end %>
</ul>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Code</th>
    <th>Photo</th>
    <th>State</th>
    <th>District</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Parameters</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'candidate', collection: @candidates %>
</table>

<%= will_paginate @candidates, renderer: ::BootstrapPagination::Rails %>