<tr>
  <td><%= customer.id %></td>
  <td><%= customer.email %></td>
  <td><%= customer.full_name %></td>
  <td><%= customer.sign_in_count %></td>
  <td><%= lt(customer.current_sign_in_at) %></td>
  <td><%= customer.current_sign_in_ip %></td>
  <td><%= lt(customer.last_sign_in_at) %></td>
  <td><%= customer.last_sign_in_ip %></td>
  <td><%= lt(customer.created_at) %></td>
  <td>
    <%= link_to 'Show', admin_customer_path(customer) %>
    <%= link_to 'Delete', admin_customer_path(customer), data: {method: :delete, confirm: 'Are you sure you want to delete this customer?'} %>
  </td>
</tr>
