<%
  header = [
    'id',
    'Name',
    'Gender',
    'Year of birth',
    'Race/ethnicity',
    'ZIP code',
    'Education',
    'Email',
    'Logins',
    'Current sign in',
    'Current sign IP',
    'Last sign in',
    'Last sign IP',
    'Created at',
    'Image'
  ]

  customers_csv = CSV.generate(col_sep: ';') do |csv|
    # header row
    csv << header
    # data rows
    @customers.find_each do |customer|
      row = [
        customer.id,
        customer.full_name,
        customer.gender,
        customer.year_of_birth,
        customer.ethnicity,
        customer.zip,
        customer.education,
        customer.email,
        customer.sign_in_count,
        lt(customer.current_sign_in_at),
        customer.current_sign_in_ip,
        lt(customer.current_sign_in_at),
        customer.current_sign_in_ip,
        lt(customer.created_at),
        (customer.public_url if customer.image.present?)
      ]

      csv << row
    end
  end
%>
<%= raw customers_csv %>
