<h1>
  Customers <small>(<%= @customers.total_entries %>)</small>
  
  <div class="btn-group pull-right">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu">
    <%= link_to 'Download CSV', admin_customers_path(format: :csv), class: 'dropdown-item' %>
  </div>
</div>
</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Email</th>
    <th>Name</th>
    <th>Logins</th>
    <th>Current sign in</th>
    <th>IP</th>
    <th>Last sign in</th>
    <th>IP</th>
    <th>Created at</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'customer', collection: @customers %>
</table>

<%= will_paginate @customers, renderer: ::BootstrapPagination::Rails %>
