<div class="row">
  <div class="col-md-12">
    <h1>Customer details</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal col-md-12 col-lg-5">
      <%= list_row 'Email', mail_to(@customer.email), label_html: {class: 'col-md-5'} %>
      <%= list_row 'Name', @customer.full_name, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Gender', @customer.gender, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Year of birth', @customer.year_of_birth, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Race/ethnicity', @customer.ethnicity, label_html: {class: 'col-md-5'} %>
      <%= list_row 'ZIP code', @customer.zip, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Education', @customer.education, label_html: {class: 'col-md-5'} %>
    </dl>
    <dl class="dl-horizontal col-md-12 col-lg-5">
      <%= list_row 'Logins', @customer.sign_in_count, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Current sign in', lt(@customer.current_sign_in_at), label_html: {class: 'col-md-5'} %>
      <%
=begin%>
 <%= list_row 'Current sign IP', @customer.current_sign_in_ip, label_html: {class: 'col-md-5'} %> 
<%
=end%>
      <%= list_row 'Last sign in', lt(@customer.current_sign_in_at), label_html: {class: 'col-md-5'} %>
      <%
=begin%>
 <%= list_row 'Last sign IP', @customer.current_sign_in_ip, label_html: {class: 'col-md-5'} %> 
<%
=end%>
      <%= list_row 'Created at', lt(@customer.created_at), label_html: {class: 'col-md-5'} %>
    </dl>
    <% if @customer.image.present? %>
    <div class="dl-horizontal col-md-2 col-lg-2">
      <%= image_tag @customer.public_url, style: 'max-height: 244px;', class: 'img-thumbnail pull-left' %>
    </div>
    <% end %>
  </div>
<%
=begin%>
 
  <% if @customer.current_sign_in_ip.present? && location_data(@customer.current_sign_in_ip) %>
    <div class="col-md-12">
      <h3>Current sign in location details</h3>
      <dl class="dl-horizontal col-md-12 col-lg-6">
        <% location_data(@customer.current_sign_in_ip).each do |k, v| %>
          <%= list_row k.to_s.humanize, v, label_html: {class: 'col-md-5'} %>
        <% end %>
      </dl>
    </div>
  <% end %>
   
<%
=end%>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Submissions</h3>
    <% if @submissions.present? %>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Submitted</th>
        <th>Language</th>
        <%
=begin%>
 <th>IP address</th> 
<%
=end%>
        <th>Country</th>
        <th>City</th>
        <th>Publisher</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <%= render partial: 'admin/submissions/submission', collection: @submissions %>
    </table>
    <% end %>
  </div>
</div>
