<div class="modal-wrapper">
  <div class="modal-overlay"></div>
  <div class="modal-outer">
    <div class="modal">
      <div class="tab-content active">
        <div class="tab-content-block">

          <h2>Change your password</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="authentication-inputs">

              <div class="field">
                <%= f.label :password, "New password" %><br />
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, "Confirm new password" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Change my password", :class => 'btn blue-btn sharp-corner-btn wide-btn' %>
            </div>
          <% end %>

          <%#= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
