<div class="modal-wrapper">
  <div class="modal-overlay"></div>
  <div class="modal-outer">
    <div class="modal">
      <div class="tab-content active">
        <div class="tab-content-block">

          <h2>Forgot your password?</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :account_id %>

            <div class="authentication-inputs">
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", :class => "btn blue-btn sharp-corner-btn wide-btn", :style => "white-space: normal;"  %>
            </div>
          <% end %>
          <%#= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>
