body {
  background-image: url('/images/us2016congress/bg-congress-1280.jpg');
  font: 16px/28px 'Rubik', sans-serif;
  font-weight: 300;
  color: #0b2339;
}

h1, h2, h3, h4, button, input, select {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 26px;
}

.content-max-740 {
  max-width: 740px;
}


.header {
  position: relative;
  right: auto;
  z-index: 1;

  max-width: 800px;
  height: 107px;
  margin: 20px auto 0 auto;
  text-align: left;
}

.fullwidth .header {
  max-width: 980px;
}

@media screen and (max-width: 550px) {
  .header {
    height: 70px;
    margin: 5px auto 0 auto;
  }
}

.main-logo {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 550px) {
  .main-logo {
    width: 130px !important;
  }
}
.main-menu {
  text-align: right;
  float: right;
  position: static;
  width: auto;
  display: block;
  vertical-align: middle;
  margin-left: 0em;
  margin-right: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 550px) {
  .main-menu {
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    max-width: 180px;
  }
}

.main-menu a {
  background: white;
  width: auto;
  height: auto;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 28px;
  font-weight: normal;
  border-radius: 3px;
  border: none;
  padding: 0 1em;
  color: #0b2339;
  text-transform: uppercase;
}

@media screen and (max-width: 550px) {
  .main-menu a {
    padding: 0 0.5em;
  }
}

.main-menu .appstore-links {
  display: inline-block;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin-right: 2em;
}

.main-menu .appstore-links a {
  padding:0;
  background: transparent;
  color: white;
  vertical-align: middle;
  line-height: 1em;
}

.appstore-links-label {
  display: inline-block;
  margin-right: 0.5em;
}

@media screen and (max-width: 550px) {
  .main-menu .appstore-links {
    margin-right: 0.3em;
    margin-bottom: 5px;
  }
}

.main-wrapper {
  min-height: calc(100vh - 127px);
  box-sizing: border-box;
  padding-bottom: 60px;
}

@media screen and (max-width: 550px) {
  .main-wrapper {
    min-height: calc(100vh - 75px);
  }
}

[data-view="start"]  .main-wrapper {
  min-height: calc(100vh - 2px);
}

.corner-logo-bg {
  background: none;
  padding-top: 20px;
}

.corner-no-logo-bg {
  padding-top: 200px;
  padding-top: calc(50vh - 370px);
}

@media screen and (max-width: 550px) {
  .corner-no-logo-bg {
    padding-top: 0px;
  }
}

.corner-logo-bg.ontop-logo {
  background-image: none;
  padding-top: inherit;
}

.logo-ontop {
  display: none;
}

.moving-logo {
  width: 295px;
  height: 203px;
  margin-bottom: 3em;
}
.moving-logo object {
  width: 100%;
  height: 100%;

}

@media screen and (max-width: 550px) {
  .moving-logo {
    width: 200px;
    height: 138px;
    margin-bottom: 1em;
  }
}

.gray-box {
  background: rgba(255,255,255,0.9);
  box-shadow: none;
  border: none;
}

.gray-box.dark-first-bg {
  background-color: transparent;
  color: white;
  max-width: 540px;
  padding: 40px;

  animation-duration: 0.5s;
  animation-name: firstbgin;
}

.max-wrapper {
  margin-top: 0;
}


@media screen and (max-width: 550px) {
  .gray-box.dark-first-bg {
    padding: 20px 10px 10px 10px;
  }
}

@keyframes firstbgin {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.gray-box.dark-first-bg h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 40px 40px 0 40px;
  background-color: rgba(27,87,130, 0.8);
  margin-bottom: 0;
}

@media screen and (max-width: 550px) {
  .gray-box.dark-first-bg h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.gray-box.dark-first-bg .bottom-btn-wrapper {
  background-color: rgba(27,87,130, 0.8);
  padding: 40px 40px 40px 40px;
}

.big-start-button {
  width: 100%;
  background-color: #fff;
  color: #1b5182;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer {
  margin: 0;
  background-color: #fff;
  color: #0b2339;
  font-size: 13px;
  padding: 10px;
  font-weight: 300;
}

.footer a, .footer .lang-menu a {
  color: #0b2339;
  font-weight: 300;
  text-decoration: none;
  font-size: 13px;
}
.footer a:hover {
  text-decoration: underline;
}

.content {
  margin-bottom: 30px;
}

.copy-text {
  font-weight: normal;
}

.foot-links {
  display: inline-block;
  padding: 0 2em;
}

.foot-links a {
  display: inline-block;
  padding: 0 0.3em;
}

.footer a.active {
  font-weight: normal;
  text-decoration: underline;
}

body:not([data-view]) .header {
  display: none;
}

body:not([data-view]) .subpage-template .header {
  display: block;
  max-width: 920px;
}



[data-view="start"] .header {
  /* display: none;*/
  margin-bottom: -125px;
  max-width: 600px;
}
@media screen and (max-width: 550px) {
  [data-view="start"] .header {
    margin-bottom: -45px;
  }

  [data-view="start"] .main-menu {
    max-width: 600px;
  }
}

[data-view="start"] .main-logo-link, [data-view="start"] .restart-btn {
  display: none;
}



.question-nrs {
  margin: 0 auto;
  border: none;
  background-color: rgba(27,87,130, 0.9);
  color: white;
  padding: 10px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 550px) {
  .question-nrs {
    padding: 5px 0;
  }
}

.question-nrs a, .question-nrs a.visited {
  color: white;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 300;
  margin: 0 2px;
}

.question-nrs a:hover, .question-nrs a.active {
  background-color: white;
  color: #0b2339;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.q-box-collapsed-wrap h2, .publisher-default .q-box-collapsed-wrap h2 {
  font-weight: 300;
  color: #0b2339;
  font-size: 24px;
  line-height: 34px;
}

.options-wrapper-outer {
  margin: 0 auto;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.q-box-collapsed-wrap {
  max-width: 766px;
  padding: 25px 30px 0 30px;
  min-height: 120px;
}
.q-box-collapsed {
  max-width: 600px;
  margin: 0:
}

@media screen and (max-width: 550px) {
  .q-box-collapsed-wrap {
    padding: 10px 10px 0 10px;
  }

  .q-box-collapsed {
    margin: 0;
  }

  .q-box-collapsed-wrap h2, .publisher-default .q-box-collapsed-wrap h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.options-wrapper .line {
  display: none;
}

.options-wrapper {
  padding-bottom: 4em;
}


@media screen and (max-width: 550px) {
  .options-wrapper {
    padding-bottom: 2em;
  }
  .options-wrapper .option .tick {
    margin: 8px auto;
  }
}

.options-wrapper .option {
  font-style: normal;
  font-size: 13px;
}

.options-wrapper .option .tick {
  background-image: url('/images/sprites_2016.svg');
  background-size: auto;
  background-position: -45px -7px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #c9c9c9;
}

.canhover .options-wrapper .option:hover .tick, .options-wrapper .option.active .tick {
  background-image: url('/images/sprites_2016.svg');
  background-color: #0e94c0;
  border-color: #0e94c0;
  background-size: auto;
  background-position: -6px -7px;
}

.canhover .options-wrapper .option[data-val=""]:hover .tick, .options-wrapper .option[data-val=""].active .tick {
  background-image: url('/images/sprites_2016.svg');
  background-color: gray;
  border-color: gray;
  background-size: auto;
  background-position: -6px -7px;
}

.ico-check-big {
  background-image: url('/images/sprites_2016.svg');
  background-position: 0px -1px;
}

.alert-ico {
  background-image: url('/images/sprites_2016.svg');
}

.radar-ico {
  background-image: url('/images/sprites_2016.svg');
}

.bottom-btn-wrap-extended {
  background-color: #fff;
  padding: 25px 40px;
  text-align: right;
}

@media screen and (max-width: 550px) {
  .bottom-btn-wrap-extended {
    text-align: center;
  }
}

.gray-box-padless {
  padding: 0;
}

.pad-40 {
  padding: 40px;
}
@media screen and (max-width: 550px) {
  .mob-pad-15 {
    padding: 15px;
  }
}

.btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn + .btn {
  margin-left: 0.3em;
}

.compact-btn {
  padding: 12px 24px;
  line-height: 1em;
  font-size: 14px;
  font-weight: 300;
}

.blue-btn {
  background: #0e94c0;
  color: white;
}
.blue-btn:hover {
  background: #189dc9;
}

.white-btn {
  border-color: #898989;
}

.styled-radio-label {
  padding-left: 0em;
}

.styled-radio-label:before {
  width: 25px;
  height: 25px;
  position: static;
  background: white;
  line-height: 25px;
  font-weight: 300;
  border-color: #c9c9c9;
  color: #0e94c0;
}

.styled-radio:checked + .styled-radio-label:before {
  background: #0e94c0;
  border-color: #0e94c0;
  color: white;
}
.publisher-default .styled-radio:checked + .styled-radio-label.balance-less-label:before,
.publisher-default .styled-radio:checked + .styled-radio-label.balance-more-label:before {
  background: #0e94c0;
  border-color: #0e94c0;
  color: white;
}

.balance-row .balance {
  width: 110px;
}

.balance-row .nr {
  color: #0e94c0;
}

.balance-row {
  border-top: 1px solid #d7d7d7;
  padding: 0.6em 0;
  line-height: 1.4em;
}

.user-info-row label, .styled-form-row label {
  display: block;
  width: auto;
  line-height: 1.5em;
}
.user-info-row input[type="text"], .user-info-row input[type="number"], .user-info-row input[type="email"],
.styled-form-row input[type="text"], .styled-form-row input[type="number"], .styled-form-row input[type="email"] {
  display:block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 32px;
  height: 32px;
  border-color: #c9c9c9;
  padding: 0 1em;
  font-size: 16px;
  color: #0b2339;
  border: 1px solid rgba(0,0,0,0.3);
}
.user-info-row select, .region-picker-select select, .styled-form-row select {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 32px;
  border: none;
  background: transparent;
  padding: 0 1em;
  -webkit-appearance: none;
  border-radius: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: #0b2339;
}
.custom-select, .region-picker-select {
  width: 100%;
  position: relative;
  display: block;
  height: 32px;
  border: 1px solid #c9c9c9;
  background: white;
}
.custom-select:after {
  display: block;
  position: absolute;
  content: "";
  border-width: 8px 5px;
  border-color: #0e94c0 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
  border-style: solid;
  right: 6px;
  top: 12px;
}
.custom-select select {
  font-size: 16px;
}
.region-picker-select {
  width: auto;
}
.user-info-row, .styled-form-row {
  margin-bottom: 0.5em;
}
.radio-group {
  display: block;
  margin:0;
}

@media screen and (max-width: 550px) {
  .radio-group, .extra-questions-form {
    line-height: 1.6em;
  }
}


label.designed-radio, .user-info-row label.designed-radio, .styled-form-row label.designed-radio {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #c9c9c9;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  top: -2px;
  margin-right: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:checked + label.designed-radio:after {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 3px;
  top: 3px;
  content: "";
  display: block;
  background: #0e94c0;
  border-radius: 50%;
}

input.designed-radio {
  display: none;
}

.extra-question-row > label {
  font-weight: 400;
}

.result-tab-btn {
  font-size: 14px;
  font-weight: 300;
  background: #8ab1ce;
  padding: 3px 12px;
  opacity: 1;
}
.left-info-box {
  font-size: 14px;
  line-height: 1.5em;
}

.left-info-box p {
  margin: 1em 0;
}

.result-tab-btn.active, .result-tab-btn:hover {
  background: #0e94c0;
}

/*.facebook-btn {
  text-transform: none;
}*/

.region-selections {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 14px;
}
.region-selections .state-selection {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.region-selections .district-selection-wrap {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.district-selection {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.district-selection .custom-select {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.district-selection-title {
  padding: 0 10px;
  display: inline-block;
  line-height: 32px;
}
.pol-hidden.district-selection {
  display: none;
}

.region-selections select {
  font-size: 14px;
}


.xy-point.level-country:before,
.xy-point.level-state:before,
.xy-point.level-district:before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid white;
  top: -6px;
  left: -6px;
  background: #4caf50;
  border-radius: 50%;
}

.xy-point.level-state:before {
  background: #ff9800;
}

.xy-point.level-district:before {
  background: #3f51b5;
}

.xy-legend {
  font-size: 14px;
  line-height: 1.6em;
  margin-top: 1em;
}

.xy-legend .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid white;
  background: #4caf50;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.1em;
}

.xy-legend .dot.state-dot {
  background: #ff9800;
}

.xy-legend .dot.district-dot {
  background: #3f51b5;
}


/*.facebook-btn, .twitter-btn {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: 5px;
  cursor: pointer;
}*/

.share-txt {
  font-size: 18px;
}
.share-txt p {
  font-size: 14px;
}

@media screen and (max-width: 915px) {
  .share-txt {
    display: none;
  }
  .facebook-btn, .twitter-btn {
    width: 32px;
    height: 32px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 915px) {
  .facebook-like-btn, .twitter-follow-btn {
    margin-right: 0px;
  }
}



@media screen and (max-width: 515px) {
  .corner-logo-bg.ontop-logo {
      padding-top: 20px;
  }
}

.blue-transparent-wrap {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

.restart-btn {
  margin-right: 2em;
}

@media screen and (max-width: 550px) {
  .restart-btn {
    margin-right: 0;
  }
}

.main-menu .blue-header-btn {
  background: #0e94c0;
  color: white;
}

/* Login/Signup */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: auto;

}

.modal-overlay {
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  background: rgba(0, 0, 0, 0.2);
}

.modal-outer {
  position: relative;
  width: 370px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  margin: auto 0;
  padding: 40px 0;
}
.modal-outer.wider-modal {
  width: 580px;
}

@media screen and (max-width: 550px) {
  .modal-outer {
    padding: 0;
    margin-top: 10px;
  }
}

.modal {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.9);;
  text-align: left;
}

.modal h2 {
  text-align: center;
}
.modal-outer.wider-modal h2 {
  text-align: left;
}

.modal-tabs {
  height: 50px;
  line-height: 1em;
  font-size: 16px;
}

.modal-tabs .tab {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(27,87,130, 1);
  text-align: center;
  padding: 17px 0;
  color: white;
  -webkit-appearance: none;
  border: none;
  color: white;
  font-size: 16px;
  margin:0;cursor: pointer;
  position: relative;
  outline: none;
}

.modal-tabs .tab:hover {
  background: rgba(27,87,130, 0.95);
}

.modal-tabs .tab.active {
  background: rgba(18,49,71, 1);
}

.modal-tabs .tab.active:hover {
  background: rgba(18,49,71, 0.95);
}

.modal-tabs .tab.active:after {
  content: "";
  display: block;
  border-width: 10px;
  border-color: rgba(18,49,71, 1) rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
  position: absolute;
  bottom: -20px;
  left: 50%;
  overflow: visible;
  border-style: solid;
  transform: translateX(-50%);
}

.modal-tabs .tab.active:hover:after {
  border-color: rgba(18,49,71, 0.95) rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content-block {
  padding: 35px 45px;
  border-top: 1px solid #dadada;
}
@media screen and (max-width: 550px) {
  .tab-content-block {
    padding: 25px;
    border-top: 1px solid #dadada;
  }
}

.tab-content-block:first-of-type {
  border-top: none;
  padding-top: 50px;
}

.tab-content-block-compact {
  padding-top: 20px;
  padding-bottom: 20px;
}

.authentication-inputs {
  text-align: left;
  line-height: 1em;
  margin-bottom: 20px;
}

.authentication-inputs input[type="text"],
.authentication-inputs input[type="password"],
.authentication-inputs input[type="email"] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 1px solid #a1a1a1;
  font-size: 15px;
  padding: 10px;
  font-weight: 300;
  display: block;
  margin-bottom: 8px;
}

.forgot-password-link {
  font-size: 12px;
  color: #0e94c0;
  text-decoration: none;
}

.sharp-corner-btn {
  border-radius: 0;
  font-weight: 300;
  font-size: 14px;
}

.wide-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.fb-blue-btn {
  background-color: #3b5998;
  color: white;
  text-transform: none;
}
.fb-blue-btn:hover {
  background-color: #4262a5;
}
.fb-blue-btn img,
.google-login-btn img {
  vertical-align: middle;
  margin-right: 1em;
}

.modal-close {
  border: 0;
  background: transparent;
  padding: 5px;
  color: white;
  -webkit-appearance: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  outline: none;
}
.modal-close:hover {
  opacity: 0.8;
}
.modal-close img {
  margin-left: 5px;
}

.global-wrapper {
  transition: opacity 0.3s;
}

body.modal-open .global-wrapper{
  opacity: 0;
}

.authenticated-buttons {
  display: none;
  cursor: pointer;
  color: white;
  position: relative;
}

body.authenticated .authenticated-buttons {
  display: inline-block;
}

body.authenticated .authentication-buttons {
  display: none;
}

.customer-menu-avatar {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  overflow: hidden;
  background: rgba(0,0,0,0.3);
  border: 2px solid white;
  border-radius: 50%;
  margin: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.customer-menu-avatar.no-image {
  background-image: url('/images/user.svg');
  background-size: 13px;
  background-position: center 5px;
}

.customer-menu-name {
  display: inline-block;
  font-size: 13px;
  position: relative;
  margin-right: 15px;
}

.customer-menu-name:after {
  position: absolute;
  content: "";
  display: block;
  right: -15px;
  border-width: 6px 4px;
  border-color: white rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
  border-style: solid;
  top: 50%;
  margin-top: -3px;
}
@media screen and (max-width: 770px) {
  .customer-menu-name {
    display: none;
  }
  .authenticated-buttons {
    padding-right: 15px;
    position: relative;
  }
  .authenticated-buttons:after {
    position: absolute;
    content: "";
    display: block;
    right: 8px;
    border-width: 6px 4px;
    border-color: white rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
    border-style: solid;
    top: 50%;
    margin-top: -1px;
  }
}

.authenticated-buttons:hover  {
  color: rgba(255,255,255, 0.8);
}

.authenticated-buttons:hover .customer-menu-name:after {
  border-top-color: color: rgba(255,255,255, 0.8);
}

.authenticated-buttons:hover .customer-menu-avatar {
  border-color: rgba(255,255,255, 0.8);
}

.customer-dropdown {
  position: absolute;
  top: 100%;
  background: white;
  font-size: 13px;
  right: 0;
  padding: 5px;
  display: none;
  z-index: 101;
}

@media screen and (max-width: 550px) {
  .customer-dropdown {
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .customer-dropdown a {
    font-size: 16px;
    margin: 0.5em 0;
  }
}


.customer-dropdown.active {
  display: block;
}

.customer-dropdown:before {
  position: absolute;
  content: "";
  border-width: 8px;
  border-color: rgba(255,255,255,0) rgba(255,255,255,0) white rgba(255,255,255,0);
  border-style: solid;
  top: -16px;
  left: 70%;
}

.customer-dropdown a {
  display: block;
  text-decoration: none;
  color: #215982;
  text-transform: none;
  text-align: right;
}

.customer-dropdown a:hover {
  opacity: 0.9;
}

.pencil-btn {
  background-image: url('/images/pencil.svg');
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-position: 0 0;
}

.profile-photo-wrapper {
  text-align: center;
}

.profile-photo-big {
  width: 140px;
  height: 140px;
  border: 6px solid white;
  border-radius: 50%;
  background-color: #1b5782;
  background-image: url('/images/user.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
.profile-photo-big.no-image {
  background-size: auto;
}

.sharer-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #1b5782;
  background-image: url('/images/user.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 0 auto 0.6em auto;
}

.sharer-avatar.no-image {
  background-size: 24px;;
}


.change-profile-image-btn {
  text-decoration: none;
  color: #1b5782;
}

.form-mid-label {
  font-weight: bold;
  margin: 2em 0 0.5em 0;
}

.styled-form-two-cols {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 0.5em;
}

.styled-form-two-cols .styled-form-row {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 10px;
}

.styled-form-two-cols .styled-form-row:first-of-type {
  margin-left: 0;
}

.styled-form-two-cols .styled-form-row:last-of-type {
  margin-right: 0;
}

.toggle-private {
  background: transparent;
  border: 0;
  padding: 0;
  margin:0;
  color: #0e94c0;
}

.toggle-private .make-public {
  display: none;
}

.toggle-private.is-private .make-public {
  display: inline;
}


.toggle-private.is-private .make-private {
  display: none;
}

.sharer-info-box {
  background: white;
  padding: 25px;
  text-align: center;
  display: none;
  font-size: 14px;
  line-height: 1.4em;
}

.sharer-info-box .sharer-info {
  display: none;
}
.sharer-info-box .signup-upsell {
  display: none;
}

.sharer-info-box.shows-customer,
.sharer-info-box.shows-customer .sharer-info,
.sharer-info-box.shows-upsell,
.sharer-info-box.shows-upsell .signup-upsell {
  display: block;
}

.sharer-name {
  font-weight: normal;
  color: #0e94c0;
  margin: 0.3em 0;
}

.social-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
}
.facebook-btn {
  margin: 0;
  text-transform: uppercase;
}

.social-btns .btn {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  padding: 8px 8px 7px 8px;
  height: auto;
}

.social-btns .btn img {
  vertical-align: middle;
  margin: 0 8px 0 0;
  position: relative;
  top: -1px;
}

.share-txt {
  margin-top: 0.8em;
}

.no-share-text button {
  margin-top: 1.2em;
}

.extra-question-option label {
  margin-bottom: 0;
}

@media screen and (max-width: 915px) {
  .left-info-box.left {
    display: block;
  }

  .left-info-box .oldcfx.show-on_mobile {
    display: none;
  }
  .social-media {
    float: none;
    width: auto;
    margin-top:0;
    margin-bottom: 1em;
  }

  .sharer-info-box {
    padding: 0;
    background: transparent;
  }
  .sharer-info-box .signup-upsell {
    clear: both;
    display: block;
    padding: 10px 0 5px 0;
  }
  .sharer-info-box .signup-upsell {
    display: none;
  }

  .sharer-info-box:not(.shows-upsell):not(.shows-customer) + .social-btns {
    display: block;
    padding-top: 3px;
  }
  .sharer-info-box:not(.shows-upsell):not(.shows-customer) + .social-btns .btn {
    display: block;
    margin: 2px 0 2px auto;
    padding: 2px;
    float: none;
  }

  .sharer-info {
    text-align: right;
    margin-bottom: 0.7em;
    line-height: 1.1em;
  }

  .result-tab-btn {
    font-size: 0.9em;
  }
  .result-tab-btn {
    display: inline-block;
    margin: 5px 0 0 0;
  }

  .radar-list-toggle {
    float: left;
  }

  .sharer-avatar {
    display: inline-block;
  }

  .social-btns {
    display: inline-block;
    margin-top: 0px;
    vertical-align: top;
  }

  .social-media-iframebtns {
    display: inline-block;
  }

  .social-btns .btn {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    min-width: 90px;
    margin-top:0;
    padding: 10px 8px 8px 8px;
    line-height: 2em;
    margin-right: 2px;
  }

  .facebook-like-btn, .twitter-follow-btn {
    margin-bottom: 1px;
  }

  .no-share-text button {
    display: none;
  }
  .no-share-text {
    padding: 1em 0;
  }

  .extra-question-options {
    line-height: 2em;
  }
}

@media screen and (max-width: 550px) {
  .radar-list-toggle {
    max-width: 210px;
  }
}

h3 {
  font-weight: 300;
  padding:0;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

.extra-question-options-slider {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  margin: 0.5em 0;
}

.extra-question-options-slider:before {
  content: "";
  position: absolute;
  left:0;
  right:0;
  top: 9px;
  height: 3px;
  background: #123147;

  background: -moz-linear-gradient(left,  #0072ae 0%, #d32b2b 100%);
  background: -webkit-linear-gradient(left,  #0072ae 0%,#d32b2b 100%);
  background: linear-gradient(to right,  #0072ae 0%,#d32b2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072ae', endColorstr='#d32b2b',GradientType=1 );

}

.extra-question-options-slider .slider-option-wrap {
  text-align: center;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  font-size: 12px;
  line-height: 1.3em;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.extra-question-options-slider input.slider-option {
  display: none;
}

.extra-question-options-slider input.slider-option + label.slider-option:before,
.extra-question-options-slider input.slider-option + label.slider-option .tick-overlay {
  content: "";
  display: block;
  margin: 6px auto 12px auto;
  width: 3px;
  height: 9px;
  background-color: #0072ae;
}

.extra-question-options-slider input.slider-option + label.slider-option .tick-overlay {
  position: absolute;
  top:0;
  background-color: #d32b2b;
  left: 50%;
  margin-left: -1.5px;
}

.extra-question-options-slider input.slider-option:checked + label.slider-option:before,
.extra-question-options-slider input.slider-option:checked + label.slider-option .tick-overlay {
  content: "";
  display: block;
  margin: 0 auto 5px auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.extra-question-options-slider input.slider-option:checked + label.slider-option .tick-overlay {
  margin-left: -11px;
}

.extra-question-options-slider .slider-option-wrap:first-of-type {
  text-align: left;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.extra-question-options-slider .slider-option-wrap:last-of-type {
  text-align: right;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.extra-question-options-slider .slider-option-wrap:first-of-type input.slider-option + label.slider-option:before {
  margin: 6px 0 12px 0;
}

.extra-question-options-slider .slider-option-wrap:first-of-type input.slider-option + label.slider-option .tick-overlay {
  left:0;
}

.extra-question-options-slider .slider-option-wrap:last-of-type input.slider-option + label.slider-option:before {
  margin: 6px 0 12px auto;
}

.extra-question-options-slider .slider-option-wrap:last-of-type input.slider-option + label.slider-option .tick-overlay {
  left: auto;
  right: 0;
}


.extra-question-options-slider .slider-option-wrap:first-of-type input.slider-option:checked + label.slider-option:before {
  margin: 0 0 5px -11px;
}

.extra-question-options-slider .slider-option-wrap:last-of-type input.slider-option:checked + label.slider-option:before {
  margin: 0 -11px 5px auto;
}


.extra-question-options-slider .slider-option-wrap:last-of-type input.slider-option:checked + label.slider-option .tick-overlay {
  margin-left:0;
  margin-right: -11px;
}

@media screen and (max-width: 550px) {
  .extra-question-options-slider {
    width: auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .extra-question-options-slider input.slider-option + label.slider-option:before,
  .extra-question-options-slider input.slider-option + label.slider-option .tick-overlay {
    margin:0;
    left:0;
  }

  .extra-question-options-slider:before {
    content: "";
    position: absolute;
    left: 10px;
    right:auto;
    top: 11px;
    bottom: 11px;
    height: auto;
    width: 3px;
    background: #123147;

    background: -moz-linear-gradient(top,  #0072ae 0%, #d32b2b 100%);
    background: -webkit-linear-gradient(top,  #0072ae 0%,#d32b2b 100%);
    background: linear-gradient(to bottom,  #0072ae 0%,#d32b2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072ae', endColorstr='#d32b2b',GradientType=0 );

  }

  .extra-question-options-slider input.slider-option + label.slider-option:before,
  .extra-question-options-slider input.slider-option + label.slider-option .tick-overlay {
    content: "";
    display: inline-block;
    margin: 11px 11px 0 7px !important;
    width: 9px;
    height: 3px;
    vertical-align: top;
  }

  .extra-question-options-slider input.slider-option + label.slider-option .tick-overlay,
  .extra-question-options-slider .slider-option-wrap:last-of-type input.slider-option + label.slider-option .tick-overlay  {
    top: 0px;
    left: 0px;
    margin-left: 0px;
  }

  .extra-question-options-slider .slider-option-wrap {
    font-size: 16px;
    line-height: 1.5em;
  }

  .extra-question-options-slider .slider-option-wrap input.slider-option:checked + label.slider-option:before {
    margin: 0 5px 0 0 !important;
    display: inline-block;
  }

  .extra-question-options-slider .slider-option-wrap input.slider-option:checked + label.slider-option .tick-overlay {
    left: -7px;
    top: -11px;
}
}

.modal .tab-content-block .wide-btn + .wide-btn {
  margin-left: 0;
  margin-top: 4px;
}

.google-login-btn {
  text-transform: none;
}
