<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Societly login</title>

    <%= stylesheet_link_tag 'admin/admin', media: 'all' %>
  </head>

  <body class="public">

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
