<script type="text/html" id="balance-template">
  <a href="https://euandi2019.eui.eu">
    <div class="content centered corner-logo-bg" style="margin-bottom:0;"></div>
  </a>
  <div class="content centered txt-center content-max-740">
    <% if @account.feature_customers? %>
    <div class="gray-box gray-box-wide gray-box-padless txt-left">
      <div class="pad-40 mob-pad-15">
    <% else %>
    <div class="gray-box txt-left">
    <% end %>

      <h2><%= account_t('key_balances_title') %></h2>
      <% unless @account.feature_customers? %>
        <button class="btn white-btn js-skip right"><%= account_t('key_skip') %></button>
      <% end %>
      <p><%= account_t('key_balance_text') %></p>


      <div class="balance-questions"></div>


      <% if @account.feature_customers? %>
        </div>
      <% end %>

      <div class="bottom-btn-wrapper bottom-btn-wrap-extended">
        <% if @account.feature_customers? %>
          <button class="btn white-btn compact-btn js-skip"><%= account_t('key_skip') %></button>
          <button class="btn blue-btn compact-btn js-save"><%= account_t('key_continue') %></button>

        <% else %>
        <button class="btn white-btn compact-btn js-save"><%= account_t('key_continue') %></button>
        <% end %>

      </div>

    </div>
  </div>
</script>
