<script type="text/html" id="balance-row-template">
  <div class="balance-row" data-question-id="<%%= qid %>">
    <div class="nr"><%%= nr %>.</div>

    <div class="balance">
      <input class="styled-radio balance-less-radio" type="radio" id="balance-question-less-<%%= qid %>" name="balance-question-<%%= qid %>" value="0.5" <%% if (balance == 0.5) { %>checked="checked"<%% } %>>
      <label class="styled-radio-label balance-less-label" for ="balance-question-less-<%%= qid %>"></label>
      <input class="styled-radio balance-mid-radio" type="radio" id="balance-question-mid-<%%= qid %>" name="balance-question-<%%= qid %>" value="1" <%% if (balance == 1) { %>checked="checked"<%% } %>>
      <label class="styled-radio-label balance-mid-label" for ="balance-question-mid-<%%= qid %>"></label>
      <input class="styled-radio balance-more-radio" type="radio" id="balance-question-more-<%%= qid %>" name="balance-question-<%%= qid %>" value="2" <%% if (balance == 2) { %>checked="checked"<%% } %>>
      <label class="styled-radio-label balance-more-label" for ="balance-question-more-<%%= qid %>"></label>
    </div>

    <div class="question"><%%= question %></div>
  </div>
</script>
