<script type="text/html" id="district-table-template">
  <h3><%%= districtName %></h3>
  <table class="pol-table">
    <thead>
      <tr>
        <%% if (threecol) {%><td></td><%% } %>
        <td><%= account_t('key_candidate') %></td>
        <td><%= account_t('key_statement_match') %></td>
      </tr>
    </thead>
    <tbody class="js-partys-matches js-partys-district-matches">
      <%%= list %>
    </tbody>
  </table>
</script>
