<script type="text/html" id="extra-questions-template">
  <a href="https://euandi2019.eui.eu">
    <div class="content centered corner-logo-bg" style="margin-bottom:0;"></div>
  </a>
  <div class="content centered txt-center content-max-740">
    <% if @account.feature_customers? %>
    <div class="gray-box gray-box-padless gray-box-wide txt-left">
      <div class="pad-40 mob-pad-15">
    <% else %>
    <div class="gray-box txt-left">
    <% end %>
      <h2>
        <%= account_t('key_extra_questions_title') %>
      </h2>
      <p>
        <%= account_t('key_extra_questions_text') %>
      </p>
      <% unless @account.feature_customers? %>
        <button class="btn white-btn js-skip right"><%= account_t('key_skip') %></button>
      <% end %>

      <div class="extra-questions-form">
        <% @extra_questions.each do |question| %>
          <div class="extra-question-row" data-equestion-id="<%= question.id %>">
            <label><%= question.translation_for_with_default(:name, @language) %></label>
            <% if question.options.size > 2 %>
              <div class="extra-question-options-slider">
            <% else %>
              <div class="extra-question-options">
            <% end %>
              <% (question.options || {}).keys.each_with_index do |choice_id, cidx| %>
                <% if question.options.size > 2 %>
                  <div class="slider-option-wrap">
                    <input type="radio" name="eq-id-<%= question.id %>" id="eq-id-<%= question.id %>-<%= choice_id %>" data-answer-id="<%= choice_id %>" class="slider-option" /><label for="eq-id-<%= question.id %>-<%= choice_id %>" class="slider-option"><span><%= question.option_value_for(choice_id, @language) %></span><div class="tick-overlay" style="opacity: <%= cidx.to_f / (question.options.size - 1) %>;"></div></label>
                  </div>
                <% else %>
                  <div class="extra-question-option">
                    <input type="radio" name="eq-id-<%= question.id %>" id="eq-id-<%= question.id %>-<%= choice_id %>" data-answer-id="<%= choice_id %>" class="designed-radio" /><label for="eq-id-<%= question.id %>-<%= choice_id %>" class="designed-radio"></label><%= question.option_value_for(choice_id, @language) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% if @account.feature_customers? %>
        </div>
      <% end %>
      <div class="cf">
        <div class="bottom-btn-wrapper bottom-btn-wrap-extended">
          <% if @account.feature_customers? %>
            <button class="btn white-btn compact-btn js-skip"><%= account_t('key_skip') %></button>
            <button class="btn blue-btn compact-btn js-save"><%= account_t('key_continue') %></button>

          <% else %>
            <button class="btn white-btn compact-btn js-save"><%= account_t('key_continue') %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</script>
