<script type="text/html" id="footer-template">
  <div class="footer-inner">
    <span class="copy-text">
      <%= account_t('key_copyright') %>
    </span>
    <span class="foot-links">
      <%= raw menuitems.map { |i| link_to(i[:name], i[:url], class: [('active' if i[:active])]) }.join(' ') %>
    </span>
    <span class="lang-menu menu horizontal-menu">
      <% @languages.each do |lang| %>
        <a href="<%= lang.code %>" data-lang="<%= lang.code %>" <% if @language.code == lang.code %>class="active"<% end %>><%= lang.name %></a>
      <% end %>
    </span>
  </div>
  <div class="oldcfx"></div>
</script>
