<script type="text/html" id="footer-template">
  <div class="footer-logos">
  </div>

  <div class="footer-bottom-stripe">
    <div class="right menu horizontal-menu">
      <%= raw menuitems.map { |i| link_to(i[:name], i[:url], class: [('active' if i[:active])]) }.join(' | ') %>
    </div>
    <span class="copy-text">
      <%= account_t('key_copyright') %>
    </span>
  </div>
  <div class="oldcfx"></div>
</script>
