<script type="text/html" id="main-menu-template">
  <% if @account.feature_customers? %>
    <div class="appstore-links">
      <span class="appstore-links-label"><%= account_t('key_appstore') %>:</span>
      <a href="https://itunes.apple.com/us/app/societly-voting-advice-app/id1101192684?mt=8"><img src="/images/apple.svg" alt=""></a>
      <a href="https://play.google.com/store/apps/details?id=ee.valijakompass.societly&hl=en"><img src="/images/android.svg" alt=""></a>
    </div>
  <% end %>
  <a href="" class="js-restart restart-btn"><%= account_t('key_restart') %></a>
  <% if @account.feature_customers? %>
  <span class="authentication-buttons">
    <a href="" class="js-login"><%= account_t('key_login') %></a>
    <a href="" class="js-signup blue-header-btn"><%= account_t('key_signup') %></a>
  </span>
  <span class="authenticated-buttons">
    <div class="customer-menu-avatar no-image"></div>
    <div class="customer-menu-name"></div>
    <div class="customer-dropdown">
      <a href="#" class="js-submissions">Submissions</a>
      <a href="#" class="js-profile">Profile</a>
      <a href="#logout" class="js-customer-logout">Log out</a>
    </div>
  </span>
  <% end %>
</script>
