<script type="text/html" id="party-table-row-template">
  <tr data-party-id="<%%= id %>" class="js-party-row">
    <td class="nowrap"><div class="party-medium-image table-image" style="<%% if (image) { %>background-image: url('<%%= image.replace(/'/g, '%27') %>');<%% } %>"></div> <%%= name %></td>
    <td>
      <div class="percent-bar percent-bar-midsize"><div class="percent-bar-inner" style="width: <%%= percent %>%"></div><div class="nr"><%% if (percent) {%><%%= percent %>%<%% } %></div></div>
    </td>
  </tr>
</script>

<script type="text/html" id="party-table-row-template-check">
  <tr data-party-id="<%%= id %>" class="js-party-row">
    <td style="width:25px"><div class="ico ico-check-big js-check-party" data-color="<%%= color %>"></div></td>
    <td class="nowrap"><div class="party-medium-image table-image" style="<%% if (image) { %>background-image: url('<%%= image.replace(/'/g, '%27') %>');<%% } %>"></div> <%%= name %></td>
    <td>
      <div class="percent-bar percent-bar-midsize"><div class="percent-bar-inner" style="width: <%%= percent %>%"></div><div class="nr"><%% if (percent) {%><%%= percent %>%<%% } %></div></div>
    </td>
  </tr>
</script>

<script type="text/html" id="account-table-row-template">
  <tr data-account-id="<%%= id %>" class="js-account-row">
    <td class="nowrap">
      <%%= name %>
    </td>
    <td>
      <div class="percent-bar percent-bar-midsize">
        <div class="percent-bar-inner" style="width: <%%= percent %>%"></div>
        <div class="nr"><%% if (percent) {%><%%= percent %>%<%% } %></div>
      </div>
    </td>
    <td style="width:24px" class="arrow">
      <div class="ico ico-arrow ico-arrow-down"></div>
    </td>
  </tr>
  <tr id="account-parties-table-<%%= id %>" class="pol-hidden no-hover">
    <td width="100%" colspan="2">
      <table width="100%">
        <%% _.each(parties, function(party) { %>
          <tr data-party-id="<%%= party.id %>" class="js-party-row subtable">
            <td><%%= party.get('percentage') %>%</td>
            <td class="nowrap">
              <div class="party-medium-image table-image" style="<%% if (party.get('image')) { %>background-image: url('<%%= party.get('image').replace(/'/g, '%27') %>');<%% } %>"></div> <%%= party.get('name') %>
            </td>
          </tr>
        <%% }); %>
      </table>
    </td>
    <td></td>
  </tr>
</script>
