<script type="text/html" id="party-view-template">
  <div class="content centered corner-logo-bg ontop-logo">
    <a href="https://euandi2019.eui.eu/">
      <img src="/images/new-logo.svg" class="logo-ontop"/>
    </a>
    <div class="blue-transparent-wrap">
      <%= render 'sidemenu', active: 'result' %>
      <div class="tabbed-wrapper left">
        <div class=" politician-view-box">
          <h1><%%= name %></h1>

          <div class="candidate-info-area">
            <div class="right right-picture-box">
              <div>
                <%% if (image) { %><img src="<%%= image %>" /><%% } %>
              </div>
              <button class="btn blue-btn js-radar radar-style-btn" style="width: 100%"><span class="radar-ico"></span> <span class="btn-txt"><%= account_t('key_radar') %></span></button>
            </div>
            <%% if (party) { %>
              <div class="candidate-party">
                <b><%= account_t('key_party') %>:</b> <%%= party %>
              </div>
            <%% } %>
            <%% if (description) { %>
              <div class="candidate-description">
                <%%= description %>
              </div>
            <%% } %>
          </div>

          <div class="oldcfx"></div>
        </div>
        <div class="js-question-comparison"></div>
        <%% if (showBeginAgainButton) { %>
          <p class="begin-again-section">
            <%= account_t('key_shared_boarding_text') %>
            <a href="" class="js-restart"><%= account_t('key_click_here') %></a>
          </p>
        <%% } %>
      </div>
      <div class="oldcfx"></div>
    </div>
  </div>
</script>
