<script type="text/html" id="profile-template">
  <div class="modal-overlay"></div>
  <div class="modal-outer wider-modal">
    <button class="modal-close"><%= account_t('key_close') %> <img src="/images/close.svg" alt="" /></button>
    <div class="modal profile-modal">
      <div class="modal-tabs cf">
        <button class="tab active" data-tab="profile"><%= account_t('key_profile') %></button>
        <button class="tab" data-tab="submissions"><%= account_t('key_submissions') %></button>
      </div>
      <div class="tab-content active" data-tab="profile"></div>

      <div class="tab-content" data-tab="submissions">
        <div class="tab-content-block">
          <h2><%= account_t('key_submissions') %></h2>
          <p><%= account_t('key_submissions_text') %></p>
          <div class="submissions-list"></div>
        </div>
      </div>
    </div>
  </div>
</script>
