<script type="text/html" id="profile-form-template">
  <form enctype="multipart/form-data" method="post" class="customer-profile-form" action="<%= api_customers_path(account: @account.code, language: @language.code) %>/current">

    <div class="tab-content-block">
      <div class="profile-photo-wrapper">
        <div class="profile-photo-big" <%% if (image) { %>style="background-image: url('<%%= image %>');"<%% } %>></div>
        <a class="js-change-profile-image change-profile-image-btn" href="#changephoto"><%= account_t('key_change_photo') %></a>
        <div class="pol-hidden">
          <input type="file" class="file-inp" name="customer[image]" />
        </div>
      </div>
      <div class="styled-form-row">
        <label><%= account_t('key_user_info_name') %>:</label><input class="customer-name" name="customer[full_name]" type="text" value="<%%= full_name %>"/>
      </div>
      <div class="form-mid-label">
        <%= account_t('key_hidden_from_public') %>
      </div>
      <div class="styled-form-row">
        <label><%= account_t('key_user_info_gender') %>:</label><div class="radio-group">
          <input class="designed-radio" name="customer[gender]" id="customer-gender-female" value="female" type="radio" <%% if (gender === 'female') { %>checked<%% } %>><label class="designed-radio" for="customer-gender-female"></label> <%= account_t('key_user_info_female') %><br>
          <input class="designed-radio" name="customer[gender]" id="customer-gender-male" value="male" type="radio" <%% if (gender === 'male') { %>checked<%% } %>><label class="designed-radio" for="customer-gender-male"></label> <%= account_t('key_user_info_male') %>
        </div>
      </div>

      <div class="styled-form-two-cols">
        <div class="styled-form-row">
          <label><%= account_t('key_user_info_year_of_birth') %>:</label><input name="customer[year_of_birth]" type="number" value="<%%= year_of_birth %>"/>
        </div>

        <div class="styled-form-row">
          <label><%= account_t('key_user_info_zip') %>:</label><input name="customer[zip]" type="text" value="<%%= zip %>"/>
        </div>
      </div>

      <div class="styled-form-row">
        <label><%= account_t('key_user_info_ethnicity') %>:</label><div class="custom-select"><select name="customer[ethnicity]">
          <option value =""></option>
          <option value ="I" <%% if (ethnicity === 'I') { %>selected<%% } %>><%= account_t('key_user_info_ethnicity_native') %></option>
          <option value ="A" <%% if (ethnicity === 'A') { %>selected<%% } %>><%= account_t('key_user_info_ethnicity_asian') %></option>
          <option value ="B" <%% if (ethnicity === 'B') { %>selected<%% } %>><%= account_t('key_user_info_ethnicity_black') %></option>
          <option value ="H" <%% if (ethnicity === 'H') { %>selected<%% } %>><%= account_t('key_user_info_ethnicity_latino') %></option>
          <option value ="P" <%% if (ethnicity === 'P') { %>selected<%% } %>><%= account_t('key_user_info_ethnicity_islander') %></option>
          <option value ="M" <%% if (ethnicity === 'M') { %>selected<%% } %>><%= account_t('key_user_info_ethnicity_mixed') %></option>
          <option value ="W" <%% if (ethnicity === 'W') { %>selected<%% } %>><%= account_t('key_user_info_ethnicity_white') %></option>
        </select></div>
      </div>

      <div class="styled-form-row">
        <label><%= account_t('key_user_info_education') %>:</label><div class="radio-group">
          <input class="designed-radio" name="customer[education]" id="customer-education-primary" value="primary" type="radio" <%% if (education === 'primary') { %>checked<%% } %>><label class="designed-radio" for="customer-education-primary"></label> <%= account_t('key_user_info_education_primary') %><br>
          <input class="designed-radio" name="customer[education]" id="customer-education-secondary" value="secondary" type="radio" <%% if (education === 'secondary') { %>checked<%% } %>><label class="designed-radio" for="customer-education-secondary"></label> <%= account_t('key_user_info_education_secondary') %><br>
          <input class="designed-radio" name="customer[education]" id="customer-education-higher" value="higher" type="radio" <%% if (education === 'higher') { %>checked<%% } %>><label class="designed-radio" for="customer-education-higher"></label> <%= account_t('key_user_info_education_higher') %>
        </div>
      </div>

      <div class="styled-form-row">
        <label><%= account_t('key_user_info_email') %>:</label><input class="customer-info-email" name="customer[email]" type="email" value="<%%= email %>"/>
      </div>

    </div>

    <div class="tab-content-block tab-content-block-compact">
      <button class="btn toggle-private <%% if (private) { %>is-private<%% } %>">
        <img src="/images/lock.svg" alt="" />
        <span class="make-private">
          <%= account_t('key_make_private') %>
        </span>
        <span class="make-public">
          <%= account_t('key_make_public') %>
        </span>
      </button>
      <div class="pol-hidden">
        <select name="customer[private]">
          <option value="true" <%% if (private) { %>selected<%% } %>>TRUE</option>
          <option value="false" <%% if (!private) { %>selected<%% } %>>FALSE</option>
        </select>
      </div>
    </div>

    <div class="bottom-btn-wrap-extended">
      <button class="btn blue-btn compact-btn js-save"><%= account_t('key_save') %></button>
    </div>
  </form>
</script>
