<script type="text/html" id="question-comparison-template">
  <div class="question-comparison <%%= color %>">
    <div class="question-text txt-center ">
      <%%= question %>
    </div>

    <div class="answer-boxes">
      <div class="gray-box">
        <div class="box-header gray-box"><%= account_t('key_you') %></div>
        <div class="inner">
          <%% if (your_answer == 0) { %>
            <%= account_t('key_answeroptions_completely_disagree') %>
          <%% } else if (your_answer === 25) { %>
            <%= account_t('key_answeroptions_partly_disagree') %>
          <%% } else if (your_answer === 50) { %>
            <%= account_t('key_answeroptions_neutral') %>
          <%% } else if (your_answer == 75) { %>
            <%= account_t('key_answeroptions_partly_agree') %>
          <%% } else if (your_answer == 100) { %>
            <%= account_t('key_answeroptions_completely_agree') %>
          <%% } else { %>
            <%= account_t('key_answeroptions_no_opinion') %>
          <%% } %>
        </div>
      </div>

      <div class="gray-box last">
        <div class="box-header gray-box">
          <%= account_t('key_candidate') %>
        </div>
        <div class="inner">
          <%% if (other_answer == 0) { %>
            <%= account_t('key_answeroptions_completely_disagree') %>
          <%% } else if (other_answer === 25) { %>
            <%= account_t('key_answeroptions_partly_disagree') %>
          <%% } else if (other_answer === 50) { %>
            <%= account_t('key_answeroptions_neutral') %>
          <%% } else if (other_answer == 75) { %>
            <%= account_t('key_answeroptions_partly_agree') %>
          <%% } else if (other_answer == 100) { %>
            <%= account_t('key_answeroptions_completely_agree') %>
          <%% } else { %>
            <%= account_t('key_answeroptions_no_opinion') %>
          <%% } %>
        </div>
      </div>
    </div>
    <div class="answer_source txt-right">
      <%% if (source) { %>
        <a href="#" class="answer_source_link"><%%= source %></a>
        <div class="answer_source_content txt-left">
          <%%= source_desc %><br/>
          <%% if (source_links && source_links.length > 0) { %>
            <%% for (var sl = 0, slmax = source_links.length; sl < slmax; sl++) { %>
              <a href="<%%= source_links[sl].trim() %>" target="_blank" class="answer_source_content_link"><%%= source_links[sl] %></a>
            <%% } %>
          <%% } %>
        </div>
      <%% } %>
    </div>
  </div>
</script>
