<script type="text/html" id="question-template">
  <a href="https://euandi2019.eui.eu">
    <div class="content centered corner-logo-bg" style="margin-bottom:0;"></div>
  </a>
  <div class="content centered txt-center content-max-740">
    <div class="question-nrs">
      <%%= question_nrs %>
    </div>

    <div class="gray-box gray-box-wide txt-center q-box-collapsed-wrap">
      <div class="q-box-collapsed">
        <h2>
          <%%= question %>
        </h2>
      </div>
    </div>

    <div class="options-wrapper-outer">
      <div class="options-wrapper txt-center js-answers">
        <div class="line"></div>
        <div class="option js-answer" data-val="100"><div class="tick"></div><span class="option-text"><%= account_t('key_answeroptions_completely_agree') %></span></div>
        <div class="option js-answer" data-val="75"><div class="tick"></div><span class="option-text"><%= account_t('key_answeroptions_partly_agree') %></span></div>
        <div class="option js-answer" data-val="50"><div class="tick"></div><span class="option-text"><%= account_t('key_answeroptions_neutral') %></span></div>
        <div class="option js-answer" data-val="25"><div class="tick"></div><span class="option-text"><%= account_t('key_answeroptions_partly_disagree') %></span></div>
        <div class="option js-answer" data-val="0"><div class="tick"></div><span class="option-text"><%= account_t('key_answeroptions_completely_disagree') %></span></div>
        <div class="option js-answer" data-val=""><div class="tick"></div><span class="option-text"><%= account_t('key_answeroptions_no_opinion') %></span></div>
      </div>
    </div>

  </div>
</script>
