<script type="text/html" id="radar-template">
  <div class="content centered corner-logo-bg ontop-logo">
    <a href="https://euandi2019.eui.eu/">
      <img src="/images/new-logo.svg" class="logo-ontop"/>
    </a>
    <div class="blue-transparent-wrap">
      <%= render 'sidemenu', active: 'radar' %>
      <div class="tabbed-wrapper left">
        <div class="additional-regions-picker"></div>
        <div class="radar-area">
          <div class="js-party-radar"></div>
          <div class="radar-legends">
            <div class="gray-legend-wrap">
              <span class="white-legend"></span><%= account_t('key_you') %>
              &nbsp;
              <span class="blue-legend"></span><%= account_t('key_closest_candidate') %>
            </div>
            <div class="alerts party-alerts"></div>
          </div>
        </div>
        <div class="list-comments">
          <%= account_t('key_radar_list_comment') %>
        </div>
        <div class="partys-radar-table tab-container gray-box-no-side-pad active">


          <div class="list-table-wrapper">
            <% if @states.present? %>
              <h2><%= account_t('key_level_country_title') %></h2>
            <% end %>
            <table class="pol-table">
              <thead>
                <tr>
                  <td></td>
                  <td><%= account_t('key_candidate') %></td>
                  <td><%= account_t('key_statement_match') %></td>
                </tr>
              </thead>
              <tbody class="js-partys-matches js-partys-country-matches"></tbody>
            </table>
          </div>

          <div class="list-table-wrapper list-table-state pol-hidden">
            <h2><%= account_t('key_level_state_title') %></h2>
            <table class="pol-table">
              <thead>
                <tr>
                  <td></td>
                  <td><%= account_t('key_candidate') %></td>
                  <td><%= account_t('key_statement_match') %></td>
                </tr>
              </thead>
              <tbody class="js-partys-matches js-partys-state-matches"></tbody>
            </table>
          </div>

          <div class="list-table-wrapper list-table-district pol-hidden">
            <h2><%= account_t('key_level_district_title') %></h2>
            <div class="js-district-tables"></div>
          </div>

        </div>
        <%% if (showBeginAgainButton) { %>
          <p class="begin-again-section">
            <%= account_t('key_shared_boarding_text') %>
            <a href="" class="js-restart"><%= account_t('key_click_here') %></a>
          </p>
        <%% } %>
        <div class="oldcfx"></div>
      </div>
      <div class="oldcfx"></div>
    </div>
  </div>
</script>
