<script type="text/html" id="result-tables-template">
  <div class="content centered corner-logo-bg ontop-logo">
    <a href="https://euandi2019.eui.eu/">
      <img src="/images/new-logo.svg" class="logo-ontop"/>
    </a>
    <div class="blue-transparent-wrap">
      <%= render 'sidemenu', active: 'result' %>
      <div class="tabbed-wrapper left">
        <div class="additional-regions-picker"></div>
        <div class="partys-dist-table tab-container active">

          <div class="list-table-wrapper">
            <% if @states.present? %>
              <h2><%= account_t('key_level_country_title') %></h2>
            <% end %>
            <table class="pol-table">
              <thead>
                <tr>
                  <td><%= account_t('key_candidate') %></td>
                  <td><%= account_t('key_statement_match') %></td>
                </tr>
              </thead>
              <tbody class="js-partys-matches"></tbody>
            </table>
          </div>

          <div class="list-table-wrapper list-table-state pol-hidden">
            <h2><%= account_t('key_level_state_title') %></h2>
            <table class="pol-table">
              <thead>
                <tr>
                  <td><%= account_t('key_candidate') %></td>
                  <td><%= account_t('key_statement_match') %></td>
                </tr>
              </thead>
              <tbody class="js-partys-state-matches"></tbody>
            </table>
          </div>

          <div class="list-table-wrapper list-table-district pol-hidden">
            <h2><%= account_t('key_level_district_title') %></h2>
            <div class="js-district-tables"></div>
          </div>


        </div>
        <br/>
        <div class="result-list-btns">
          <button class="btn blue-btn-with-states js-toggle-balances active" >
            <span class="is-active"><%= account_t('key_balances_off') %></span>
            <span class="is-un-active"><%= account_t('key_balances_on') %></span>
          </button>
          <div class="oldcfx"></div>
        </div>
        <div>
          <%= account_t('key_partys_list_long_description') %>
          <%% if (showBeginAgainButton) { %>
            <p class="begin-again-section">
              <%= account_t('key_shared_boarding_text') %>
              <a href="" class="js-restart"><%= account_t('key_click_here') %></a>
            </p>
          <%% } %>
        </div>
      </div>
      <div class="oldcfx"></div>
    </div>
  </div>
</script>
