<script type="text/html" id="share-template">
  <% if @account.feature_customers? %>
    <div class="sharer-info-box">
      <div class="signup-upsell">
        <div class="no-share-text">
          <%= account_t('key_signup_to_persomalize') %>
          <br>
          <button class="js-signup btn blue-btn compact-btn wide-btn"><%= account_t('key_signup') %></button>
        </div>
      </div>
      <div class="sharer-info">
        <div class="sharer-avatar"></div>
        <div class="sharer-name"></div>
        <div class="share-title"></div>
      </div>
    </div>
    <div class="social-btns">
      <button class="btn fb-blue-btn facebook-btn js-facebok">
        <img src="/images/fb-icon.svg" alt="">
        <%= account_t('key_share') %>
      </button>

      <button class="btn blue-btn twitter-btn js-twitter">
        <img src="/images/twitter-icon.svg" alt="">
        <%= account_t('key_share') %>
      </button>
    </div>

    <div class="share-txt"><%= account_t('key_facebook_share') %></div>
    <div class="social-media-iframebtns">
      <div class="facebook-like-btn">
        <div class="fb-like" data-href="https://www.facebook.com/Societly-710268525748185" data-width="230" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
      <div class="twitter-follow-btn">
        <a href="https://twitter.com/societlyvaa" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @societlyvaa</a>
      </div>
    </div>
  <% else %>

    <div style="vertical-align:middle; text-align:center;">
      <a href="http://spaceu2019.eu" parent="_blank">
        <img src="/images/spaceu.png" style="height:64px"/>
      </a>
    </div>
    <%
=begin%>
<img src="/images/facebook.png" class="facebook-btn js-facebok" />
    <img src="/images/twitter.png" class="twitter-btn js-twitter" />
    <div class="share-txt"><%= account_t('key_facebook_share') %></div>
    <div class="social-media-iframebtns">
      <div class="facebook-like-btn">
        <div class="fb-like" data-href="https://www.facebook.com/Societly-710268525748185" data-width="230" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
      <div class="twitter-follow-btn">
        <a href="https://twitter.com/societlyvaa" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @societlyvaa</a>
      </div>
    </div>
<%
=end%>
  <% end %>

</script>
