<div class="left-info-box left">
  <div class="radar-list-toggle">
    <a href="#" class="result-tab-btn list-btn <%= active == 'result' ? 'active' : '' -%>">
      <%= account_t('key_candidate_list') %>
    </a>
    <% if active == 'result' %>
    <p class="not-on-mobile">
      <%= account_t('key_partys_list_description') %>
    </p>
    <% end %>

    <a href="#" class="result-tab-btn radar-btn <%= active == 'radar' ? 'active' : '' -%>">
      <%= account_t('key_radar') %>
    </a>
    <% if active == 'radar' %>
    <p class="not-on-mobile">
      <%= account_t('key_radar_description') %>
    </p>
    <% end %>

    <a href="#" class="result-tab-btn xy-btn <%= active == 'xy' ? 'active' : '' -%>">
      <%= account_t('key_xy_plot') %>
    </a>
    <% if active == 'xy' %>
    <p class="not-on-mobile">
      <%= account_t('key_xy_description') %>
    </p>
    <% end %>

    <% if @comparision_account -%>
    <a href="#" class="result-tab-btn comparision-btn <%= active == 'comparision' ? 'active' : '' -%>">
      <%= account_t('key_comparision_plot') %>&#160;
    </a>
    <% if active == 'comparision' %>
    <p class="not-on-mobile">
      <%= account_t('key_comparision_description') %>
    </p>
    <% end %>
    <% end %>
  </div>

  <div class="social-media"></div>
  <div class="oldcfx show-on_mobile"></div>
</div>
