<script type="text/html" id="signup-modal-template">
  <div class="modal-overlay"></div>
  <div class="modal-outer">
    <button class="modal-close"><%= account_t('key_close') %> <img src="/images/close.svg" alt="" /></button>
    <div class="modal authentication-modal">
      <div class="modal-tabs cf">
        <button class="tab active" data-tab="login"><%= account_t('key_login') %></button>
        <button class="tab" data-tab="signup"><%= account_t('key_signup') %></button>
      </div>
      <div class="tab-content active" data-tab="login">
        <div class="tab-content-block">
          <h2><%= account_t('key_login_text') %></h2>
          <form class="js-login-form">
            <div class="authentication-inputs">
              <input type="text" class="js-login-email" placeholder="<%= account_t('key_email_placeholder') %>" />
              <input type="password" class="js-login-password" placeholder="<%= account_t('key_password_placeholder') %>" />
              <a href="" class="forgot-password-link js-forgot-password"><%= account_t('key_forgot_password') %></a>
            </div>

            <button class="btn blue-btn sharp-corner-btn wide-btn js-login-submit"><%= account_t('key_login') %> ›</button>
          </form>
        </div>
        <div class="tab-content-block">
          <button class="btn fb-blue-btn sharp-corner-btn wide-btn js-login-fb"><img src="/images/small-white-fb-logo.svg" alt="" /> <%= account_t('key_login_with_fb') %> ›</button>
          <button class="btn white-btn google-login-btn sharp-corner-btn wide-btn js-login-google"><img src="/images/google.svg" alt="" /> <%= account_t('key_login_with_g') %> ›</button>
        </div>
      </div>

      <div class="tab-content" data-tab="signup">
        <div class="tab-content-block">
          <h2><%= account_t('key_signup_text') %></h2>
          <form class="js-signup-form">
            <div class="authentication-inputs">
              <input type="text" class="js-signup-email" placeholder="<%= account_t('key_email_placeholder') %>" />
              <input type="password" class="js-signup-password" placeholder="<%= account_t('key_password_placeholder') %>" />
            </div>

            <button class="btn blue-btn sharp-corner-btn wide-btn js-signup-submit"><%= account_t('key_signup') %> ›</button>
          </form>
        </div>
        <div class="tab-content-block">
          <button class="btn fb-blue-btn sharp-corner-btn wide-btn js-signup-fb"><img src="/images/small-white-fb-logo.svg" alt="" /> <%= account_t('key_signup_with_fb') %> ›</button>
          <button class="btn white-btn google-login-btn sharp-corner-btn wide-btn js-signup-google"><img src="/images/google.svg" alt="" /> <%= account_t('key_signup_with_g') %> ›</button>
        </div>
      </div>
    </div>
  </div>
</script>
