<script type="text/html" id="splash-template">
  <div class="content centered content-slim frontpage-content">
    <div class="splash-spinner"></div>
    <div class="moving-logo">
      <a href="https://euandi2019.eui.eu/">
        <object data="/images/new-logo.svg" type="image/svg+xml"></object>
      </a>
    </div>
  </div>
</script>
