<script type="text/html" id="additional-regions-picker-template">
  <div class="additional-regions-title"><%= account_t('key_see_competitive_races') %>:</div>
  <div class="region-selections">
    <div class="state-selection">
      <div class="custom-select region-picker-select"><select class="state-picker">
        <option value=""></option>
        <% @states.each do |state| %>
          <%= options_for_select([[state.translation_for_with_default(:name, @language), state.id]]) %>
        <% end %>
      </select></div>
    </div>
    <div class="district-selection-wrap">
      <div class="pol-hidden district-selection">
        <div class="district-selection-title">
          <%= account_t('key_district') %>:
        </div>
        <div class="custom-select region-picker-select"><select class="district-picker"></select></div>
      </div>
    </div>
  </div>
</script>
