<script type="text/html" id="start-template">
  <div class="content centered corner-logo-bg txt-center content-max-740">
    <div class="gray-box txt-left">
      <h2><%= account_t('key_starting_title') %></h2>
      <p><%= account_t('key_starting_text') %></p>
      <div class="bottom-btn-wrapper">
        <button class="btn white-btn js-start"><%= account_t('key_start') %></button>
      </div>
    </div>
  </div>
</script>
