<script type="text/html" id="start-template">
  <div class="content content-mid centered corner-logo-bg txt-center content-max-740">
    <div class="transparent-box txt-left euandi-2019-intro">
      <h3 class="title">
        <%= account_t('key_find_your_party') %>
      </h3>
      <p>
        <%= account_t('key_starting_text_comparative') %>
      </p>
      <p>
        <label for="account_selector" class="euandi-2019-label">
          <%= account_t('key_select_account') %>
        </label>
        <select id="account_selector" class="select-css left">
          <%= options_from_collection_for_select(@account.accounts.order(:name), 'code', 'name', @sub_account.code) %>
        </select>
        <button class="btn yellow-btn left js-start-subaccount">
          <%= account_t('key_start') %>
        </button>
      </p>
    </div>
  </div>
</script>
