<script type="text/html" id="start-template">
  <div class="content centered corner-no-logo-bg txt-center content-max-740">
    <div class="gray-box txt-left dark-first-bg">
      <div class="moving-logo">
        <a href="https://euandi2019.eui.eu/">
          <object data="/images/new-logo.svg" type="image/svg+xml"></object>
        </a>
      </div>
      <h2><%= account_t('key_starting_title') %></h2>
      <div class="bottom-btn-wrapper">
        <button class="btn white-btn big-start-button js-start"><%= account_t('key_start') %></button>
      </div>
    </div>
  </div>
</script>
