<script type="text/html" id="submit-template">
  <a href="https://euandi2019.eui.eu">
    <div class="content centered corner-logo-bg" style="margin-bottom:0;"></div>
  </a>
  <div class="content centered txt-center content-max-740">
    <div class="gray-box txt-left">
      <h2><%= account_t('key_submit_title') %></h2>
      <p><%= account_t('key_submit_text') %></p>
      <div class="bottom-btn-wrapper">
        <button class="btn big-start-button white-btn js-save"><%= account_t('key_continue') %></button>
      </div>
    </div>
  </div>
</script>
