<script type="text/html" id="gather-user-info-template">
  <div class="content centered corner-logo-bg txt-center content-max-740">

    <% if @account.feature_customers? %>
    <div class="gray-box gray-box-padless txt-left">
      <div class="pad-40 mob-pad-15">
    <% else %>
    <div class="gray-box txt-left">
    <% end %>

      <h2>
        <% if @publisher.present? && @publisher == "wapo" %>
          <%= account_t('key_user_info_title_alternative') %>
        <% else %>
          <%= account_t('key_user_info_title') %>
        <% end %>
      </h2>
      <% unless @account.feature_customers? %>
        <button class="btn white-btn js-skip right"><%= account_t('key_skip') %></button>
      <% end %>
      <p>
        <% if @publisher.present? && @publisher == "wapo" %>
          <%= account_t('key_user_info_text_alternative') %>
        <% else %>
          <%= account_t('key_user_info_text') %>
        <% end %>
      </p>

      <div class="gather-user-info-form">

        <div class="user-info-row user-info-email-row">
          <label><%= account_t('key_user_info_email') %>:</label><input class="user-info-email" type="email" value=""/>
        </div>

        <div class="user-info-row user-info-gender-row">
          <label><%= account_t('key_user_info_gender') %>:</label><div class="radio-group">
            <input class="user-info-gender designed-radio" name="user-gender" id="user-gender-female" value="female" type="radio"><label class="designed-radio" for="user-gender-female"></label> <%= account_t('key_user_info_female') %><br>
            <input class="user-info-gender designed-radio" name="user-gender" id="user-gender-male" value="male" type="radio"><label class="designed-radio" for="user-gender-male"></label> <%= account_t('key_user_info_male') %>
          </div>
        </div>

        <div class="user-info-row user-info-year-of-birth-row">
          <label><%= account_t('key_user_info_year_of_birth') %>:</label><input type="number" class="user-info-year-of-birth" value=""/>
        </div>

        <div class="user-info-row user-info-ethnicity-row">
          <label><%= account_t('key_user_info_ethnicity') %>:</label><div class="custom-select"><select class="user-info-ethnicity">
            <option value =""></option>
            <option value ="I"><%= account_t('key_user_info_ethnicity_native') %></option>
            <option value ="A"><%= account_t('key_user_info_ethnicity_asian') %></option>
            <option value ="B"><%= account_t('key_user_info_ethnicity_black') %></option>
            <option value ="H"><%= account_t('key_user_info_ethnicity_latino') %></option>
            <option value ="P"><%= account_t('key_user_info_ethnicity_islander') %></option>
            <option value ="M"><%= account_t('key_user_info_ethnicity_mixed') %></option>
            <option value ="W"><%= account_t('key_user_info_ethnicity_white') %></option>
          </select></div>
        </div>

        <% if @all_states.present? %>

          <div class="user-info-row user-info-state-row">
            <label><%= account_t('key_user_info_state') %>:</label><div class="custom-select"><select class="user-info-state">
              <option value=""></option>
              <% @all_states.each do |state| %>
                <%= options_for_select([[state.translation_for_with_default(:name, @language), state.id]]) %>
              <% end %>
            </select></div>
          </div>

        <% end %>

        <div class="user-info-row user-info-zipcode-row">
          <label><%= account_t('key_user_info_zip') %>:</label><input class="user-info-zipcode" type="number" value=""/>
        </div>

        <div class="user-info-row user_info_education-row">
          <label><%= account_t('key_user_info_education') %>:</label><div class="radio-group">
            <input class="user-info-education designed-radio" name="user-education" id="user-education-primary" value="primary" type="radio"><label class="designed-radio" for="user-education-primary"></label> <%= account_t('key_user_info_education_primary') %><br>
            <input class="user-info-education designed-radio" name="user-education" id="user-education-secondary" value="secondary" type="radio"><label class="designed-radio" for="user-education-secondary"></label> <%= account_t('key_user_info_education_secondary') %><br>
            <input class="user-info-education designed-radio" name="user-education" id="user-education-higher" value="higher" type="radio"><label class="designed-radio" for="user-education-higher"></label> <%= account_t('key_user_info_education_higher') %>
          </div>
        </div>

      </div>

      <% if @account.feature_customers? %>
        </div>
      <% end %>

      <div class="cf">
        <div class="bottom-btn-wrapper bottom-btn-wrap-extended">
          <% if @account.feature_customers? %>
            <button class="btn white-btn compact-btn js-skip"><%= account_t('key_skip') %></button>
            <button class="btn blue-btn compact-btn js-save"><%= account_t('key_continue') %></button>

          <% else %>
            <button class="btn white-btn compact-btn js-save"><%= account_t('key_continue') %></button>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</script>
