<script type="text/html" id="xy-template">
  <div class="content centered corner-logo-bg ontop-logo">
    <a href="https://euandi2019.eui.eu/">
      <img src="/images/new-logo.svg" class="logo-ontop"/>
    </a>
    <div class="blue-transparent-wrap">
      <%= render 'sidemenu', active: 'xy' %>
      <div class="tabbed-wrapper left">
        <div class="additional-regions-picker"></div>
        <% if @states.present? %>
          <div class="xy-legend">
            <div class="xy-legend-row">
              <div class="dot country-dot"></div> <%= account_t('key_level_country_title') %>
            </div>
            <div class="xy-legend-row">
              <div class="dot state-dot"></div> <%= account_t('key_level_state_title') %>
            </div>
            <div class="xy-legend-row">
              <div class="dot district-dot"></div> <%= account_t('key_level_district_title') %>
            </div>
          </div>
        <% end %>
        <div class="partys-xy-table tab-container gray-box-no-side-pad active">
          <div class="xy-graph">
            <div class="xy-graph-area">
              <div class="xy-horlines">
                <div></div><div></div><div class="middle-lines"></div><div></div><div></div>
              </div>
              <div class="xy-vertlines">
                <div></div><div></div><div class="middle-lines"></div><div></div><div></div>
              </div>

              <div class="xy-points"></div>
            </div>
            <div class="top-label"><%= account_t('key_liberal') %></div>
            <div class="bottom-label"><%= account_t('key_conservative') %></div>
            <div class="left-label"><%= account_t('key_economic_left') %></div>
            <div class="right-label"><%= account_t('key_economic_right') %></div>
          </div>
        </div>
        <div>
          <%= account_t('key_xy_long_description') %>
          <%% if (showBeginAgainButton) { %>
            <p class="begin-again-section">
              <%= account_t('key_shared_boarding_text') %>
              <a href="" class="js-restart"><%= account_t('key_click_here') %></a>
            </p>
          <%% } %>
        </div>
        <div class="oldcfx"></div>
      </div>
      <div class="oldcfx"></div>
    </div>
  </div>
</script>
