  <div id="fb-root"></div>

  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

  <div class="global-spinner"></div>
  <div class="splash-bg"></div>
  <div class="global-wrapper cf">
    <div class="header">

      <% if @account.feature_customers? %>
        <a href="" class="main-logo-link"><img src="/images/logo.min.svg" style="width: 160px;" class="main-logo" alt=""></a>
      <% end %>

      <div class="main-menu">

      </div>

      <% unless @account.feature_customers? %>
        <div class="lang-menu menu horizontal-menu">
          <% @languages.each do |lang| %>
            <a href="<%= lang.code %>" data-lang="<%= lang.code %>" <% if @language.code == lang.code %>class="active"<% end %>><%= lang.name %></a>
          <% end %>
        </div>
      <% end %>
    </div><!-- header -->

    <div id="mainContent" class="main-wrapper lang-en" style="min-height: 60vh;">

    </div>
    <% if @account.is_comparative? %>
    <div id="#frontpage-greeting" class="centered frontpage-banner pol-hidden">
      <div class="content content-mid centered">
        <h3><%= account_t('key_euandi2019_intro') %></h3>
        <p>
          <%= account_t('key_euandi2019_content') %>
        </p>
        <h3><%= account_t('key_euandi2019_partners') %></h3>
        <div style="clear: both;display:table;" class="content content-mid centered">
          <% @partners_url.each_with_index do |url, index| %>
            <div style="float:left; padding:10px;">
              <a href="<%= url %>">
                <img src="/images/partner_<%= index %>.png" style="height:100px;">
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="footer">
    </div>
  </div>

  <%= render "main_menu" %>

  <%= render @account.feature_customers? ? "footer_featured" : "footer" %>

  <%= render "splash" %>

  <% if @account.is_comparative? %>
  <%= render "start_comparative" %>
  <% else %>
  <%= render @account.feature_customers? ? "start_featued" : "start" %>
  <% end %>

  <%= render "submit" %>

  <%= render "balance" %>

  <%= render "balance_row" %>

  <%# render "userinfo" if @account.feature_userinfo_tab? %>

  <%= render "extra_questions" if @extra_questions.size > 0 %>

  <%= render "question" %>

  <%= render "states" if @states.present? %>

  <%= render "share" %>

  <%= render "result_tables" %>

  <%= render "district_table" %>

  <%= render "party_table" %>

  <%= render "party_view" %>

  <%= render "question_comparision" %>

  <%= render "radar" %>

  <%= render "result_comparision" if @comparision_account.present? %>

  <%= render "xy" %>

  <script type="text/html" id="alert-row-template">
    <div class="alert"><span class="alert-ico"></span> <%= account_t('key_have_not_answered') %></div>
  </script>

  <%= render "signup_modal" %>

  <%= render "profile" %>

  <%= render "profile_form" %>

  <script type="text/html" id="submission-row-template">
    <!-- button class="js-submission-edit btn pencil-btn"></button --> <a href="<%%= url %>" class="submission-link"><%%= title %></a>
  </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>


  <script type="text/javascript">
    Politics = {};

    var questions = <%= raw @questions.map { |q|
      {
        id: q.id, value: q.translation_for_with_default(:name, @language),
        description: q.translation_for_with_default(:description, @language),
        params: q.params, position: nil
      }
    }.to_json %>

    var questionParams = <%= raw @parameters.map { |p|
      {id: p.id, value: p.translation_for_with_default(:name, @language)}
    }.to_json %>

    var currentLanguage = '<%= @language.code %>'; // Used only in client data posting to show what language was used by client. May be unnessecary if it is known by other means on server side.

    var submission_url = '<%= api_submissions_path(account: @account.code, language: @language.code) %>';

    var results_url = '<%= api_submissions_path(account: @account.code, language: @language.code) %>';

    var candidates_url = '<%= api_candidates_path(account: @account.code, language: @language.code) %>';

    var states_url = '<%= api_states_path(account: @account.code, language: @language.code) %>';

    var customer_url = '<%= api_customers_path(account: @account.code, language: @language.code) %>';

    var password_reset_url = '<%= api_passwords_path(account: @account.code, language: @language.code) %>';

    var accountCode = '<%= @account.code %>';

    var comparsionAccountCode = '<%= @comparision_account.try(:code) %>';

    var subAccountCode = '<%= @sub_account.code %>';

    var redirectHash = '<%= @client_hash_for_redirect %>';

    var publisher = '<%= fetch_publisher_code %>';

    var has_customers = <% if @account.feature_customers? %>true<% else %>false<% end %>;


    var translations = {
      "you": "<%= account_t('key_you') %>",
      "fill_email_error": "<%= account_t('key_fill_email_error') %>",
      "key_forgot_reminder_sent": "<%= account_t('key_forgot_reminder_sent') %>"
    };

    var has_states = <% if @states.present? %>true<% else %>false<% end %>;
    var has_districts = <% if @states.present? %>true<% else %>false<% end %>;

    <% if @account.feature_customers? %>
      window.siteConfig = window.siteConfig || {};
      window.siteConfig.noLoader = true;
    <% end %>
  </script>

  <%- if Rails.env.development? %>
  <!-- FOR DEVELOPMENT RUNNING UNMINIFIED SCRIPTS -->
  <script src="/javascripts/radar-chart.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.urlparam.js" type="text/javascript"></script>
  <script src="/javascripts/app.js" type="text/javascript"></script>
  <script src="/javascripts/datahandlers.js" type="text/javascript"></script>
  <% end -%>

  <%- unless Rails.env.development? %>
  <script src="/javascripts/main.min.js" type="text/javascript"></script>
  <% end -%>

  <script type="text/javascript">
    var politics_site = new Politics.MainView();
    politics_site.render();
  </script>

  <div class="font-preloader"></div><!-- used by css for starting loading fontawsome icons immediately. -->

  <!--script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-37655421-2', 'auto');
   ga('send', 'pageview');

  </script -->
