<%= content_for(:title, @page.title.presence) %>
<%= content_for(:description, @page.description.presence) %>
<div class="splash-bg"></div>
<div class="global-wrapper subpage-template">
  <div class="global-spinner"></div>
  <div class="header">
    <% if @account.feature_customers? %>
      <a href=""><img src="/images/logo.min.svg" style="width: 160px;" class="main-logo" alt=""></a>
    <% end %>

    <div class="main-menu">
      <a href="#" onclick="window.history.back(); return true;">
        <%= account_t('key_back', 'Back') %>
      </a>
    </div>

    <!--div class="main-menu">
      <%= link_to 'Back', account_home_path(account: @account.code, publisher: fetch_publisher_code, language: @language.code) %>
    </div-->

    <% unless @account.feature_customers? %>
      <!--div class="lang-menu menu horizontal-menu">
        <% @languages.each do |lang| %>
          <%= link_to lang.name, account_home_path(account: @account.code, publisher: fetch_publisher_code, language: lang.code), class: [('active' if @language.code == lang.code)] %>
        <% end %>
      </div-->
    <% end %>

  </div>
  <div id="mainContent" class="main-wrapper">
    <div class="content centered corner-logo-bg txt-center">
      <div class="gray-box max-wrapper">
        <%= raw @page.content %>
      </div>
    </div>
  </div>

  <% if @account.feature_customers? %>
    <div class="footer">
      <div class="footer-inner">
        <span class="copy-text">
          <%= account_t('key_copyright') %>
        </span>
        <span class="foot-links">
          <%= raw menuitems.map { |i| link_to(i[:name], i[:url], class: [('active' if i[:active])]) }.join(' ') %>
        </span>
        <span class="lang-menu menu horizontal-menu">
          <% @languages.each do |lang| %>
            <%= link_to lang.name, account_home_path(account: @account.code, publisher: fetch_publisher_code, language: lang.code), class: [('active' if @language.code == lang.code)] %>
          <% end %>
        </span>
      </div>
      <div class="oldcfx"></div>
    </div>
  <% else %>
    <div class="footer">
      <div class="footer-bottom-stripe">
        <div class="right menu horizontal-menu">
          <%= raw menuitems.map { |i| link_to(i[:name], i[:url], class: [('active' if i[:active])]) }.join(' | ') %>
        </div>
        <%= account_t('key_copyright') %>
      </div>
      <div class="oldcfx"></div>
    </div>
  <% end %>
</div>
