@import 'bootstrap';
@import 'public';
@import 'questions';

.admin-content {
  margin-bottom: 50px;
}

.navbar {
  margin-bottom: 30px;
}

.dropdown-toggle {
  cursor: pointer;
}

// Bootstrap overrides
.input-group {
  margin-bottom: 5px;

  .input-group-addon {
    min-width: 45px;
    font-size: 12px;
    color: rgba(0,0,0,.45);
    text-transform: uppercase;
    background: none;
  }

  .form-control {
    &:first-child {
      border-right-style: dashed;
    }
  }
}

.numbered-list {
  counter-reset: numbered-list-counter;
}
.numbered-list .numbered-item:before {
  content: counter(numbered-list-counter);
  counter-increment: numbered-list-counter;
  font-weight: 600;
  padding-right: 5px;
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 5%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  // margin-left: 10%;
  width: 95%;
}
