.public {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(230,230,230);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  
  .form-signin-heading,
  .checkbox {
    margin-bottom: 10px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .form-control:focus {
    z-index: 2;
  }
  
  [type="hidden"] {
    display: none;
  }

  [type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  [type="password"] {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  [type="text"] {
    margin-bottom: 10px;
  }
  
  .form-signin-links {
    margin-top: 10px;
    font-size: .75em;
    font-weight: bold;
    text-align: center;
    
    a {
      color: rgb(150,150,150);
    }
  }

  #error_explanation {
    color: red;

    h2 {
      font-size: 1rem;
    }

    ul {
      margin-bottom: 5px;
    }
  }

  .field_with_errors input {
    border: 1px solid #cc9b9b;
  }
}
