.table-questions {
  th {
    text-align: center;
  }
  
  th,
  td {
    padding: .5rem;
  }
  
  .details-hidden {
    display: none;
  }
}

table.sortable {
  counter-reset: rowNumber;

  tbody tr {
    counter-increment: rowNumber;
  }

  tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
  }

  tr:first-child .move-up,
  tr:last-child .move-down {
    display: none;
  }
}
