<%= fields_for @parameter, {}, builder: TranslateableFormBuilder do |f| %>
<fieldset class="form-group">
  <%= f.label :name %>
  <%= f.translatable_text_field :name, class: 'form-control', placeholder: 'Parameter name' %>
</fieldset>
<% end %>
