<tr>
  <td><%= parameter.id %></td>
  <td><%= parameter.name %></td>
  <td><%= lt(parameter.created_at) %></td>
  <td><%= lt(parameter.updated_at) %></td>
  <td>
    <%= link_to 'Edit', edit_admin_parameter_path(parameter) %>
    <%= link_to 'Delete', admin_parameter_path(parameter), data: {method: :delete, confirm: 'Are you sure you want to delete this parameter?'} %>
  </td>
</tr>
