<h1>
  Spider dimensions <small>(<%= @parameters.count %>)</small>
  
  <%= link_to 'Add parameter', new_admin_parameter_path, class: 'btn btn-success pull-right' %>
</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'parameter', collection: @parameters %>
</table>
