@font-face {
  font-family: 'FontAwesome';
  src: url(/fonts/fontawesome-webfont.eot);
  src: url(/fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
       url(/fonts/fontawesome-webfont.woff2) format('woff2'),
       url(/fonts/fontawesome-webfont.woff) format('woff'),
       url(/fonts/fontawesome-webfont.ttf) format('truetype'),
       url(/fonts/fontawesome-webfont.svg#fontawesomeregular) format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(/fonts/proxima-nova-condensed-extrabold-webfont.eot);
  src: url(/fonts/proxima-nova-condensed-extrabold-webfont.eot?#iefix) format('embedded-opentype'),
       url(/fonts/proxima-nova-condensed-extrabold-webfont.woff2) format('woff2'),
       url(/fonts/proxima-nova-condensed-extrabold-webfont.woff) format('woff'),
       url(/fonts/proxima-nova-condensed-extrabold-webfont.ttf) format('truetype'),
       url(/fonts/proxima-nova-condensed-extrabold-webfont.svg#proximanovacondensedextraboldwebfont) format('svg');
  font-weight:bold;
  font-style:normal;
}

body {
  background: transparent;
  color: #2a2a2a;
  font-family: "Helvetica Neue Light","Helvetica Neue", Helvetica, "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;
}
@media screen and (max-width: 550px) {
  body {
    font-size: 16px;
  }
}
a {
color: #2a2a2a;
}
.corner-logo-bg, .corner-logo-bg.ontop-logo {
  background-image: none;
  padding-top: 0;
}
.logo-ontop {
  display: none;
}

.gray-box {
  background: transparent;
    box-shadow: none;
    border: none;
    padding: 40px 45px;
    color: #2a2a2a;
    max-width: none;
}

.gray-box.dark-first-bg {
  max-width: none;
  padding: 40px 45px;
}

.gray-box.dark-first-bg h2 {
  text-align: left;
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 28px;
  line-height: 1.2;
  color: #2a2a2a;
  background-color: transparent;
}

.gray-box.dark-first-bg .bottom-btn-wrapper {
  padding: 0;
  background-color: transparent;
}
@media screen and (max-width: 550px) {
  .gray-box {
    padding: 0px;
  }
}

.header {
  display: none;
}

.gray-box h2 {
  font-family: "ProximaNova";
  font-size: 28px;
  color: #2a2a2a;
}
.question-nrs a {
  font-size: 14px;
  color: #333;
  border: 1px solid transparent;
}
.white-btn,
.options-wrapper .option,
.styled-radio-label:before,
.question-nrs a.active,
.question-nrs a:hover,
.result-tab-btn,
.facebook-btn, .twitter-btn, .blue-btn-with-states, .blue-btn-with-states.active,
.radar-style-btn {
  font-size: 18px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  border: 1px solid #e9e9e9;
  border-bottom-color: #d5d5d5;
  border-bottom-width: 2px;
  border-radius: 4px;
  background: #fff;
  color: #333;
  font-style: normal;
  text-align: center;
  display: inline-block;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.facebook-btn, .twitter-btn {
  vertical-align: middle;
}

@media screen and (max-width: 550px) {
  .white-btn,
  .options-wrapper .option,
  .styled-radio-label:before,
  .question-nrs a.active,
  .question-nrs a:hover,
  .result-tab-btn,
  .facebook-btn, .twitter-btn, .blue-btn-with-states, .blue-btn-with-states.active,
  .radar-style-btn {
    font-size: 14px;
  }
}

.result-tab-btn,
.facebook-btn, .twitter-btn, .blue-btn-with-states, .blue-btn-with-states.active {
  padding: 1em 2em;
}


.question-nrs a.active, .question-nrs a:hover {
  font-size: 14px;
}


.options-wrapper .option  {
  min-height: 60px;
  width: 100px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.3em 0.5em;
}
@media screen and (max-width: 550px) {
  .options-wrapper .option  {
    margin: 5px;
    padding: 0.1em 0.3em;
  }
}

.options-wrapper .option .option-text  {
  display: inline-block;
  line-height: 1.2em;
  vertical-align: middle;

}

.question-nrs {
  background: transparent;
  box-shadow: none;
  margin-bottom: 8px;
  padding: 2px;
  border: none;
}

.white-btn:hover,
.options-wrapper .option:hover,
.options-wrapper .option.active,
.styled-radio-label:hover:before,
.styled-radio:checked + .styled-radio-label:before {
  border-color: #2e7061;
}
.options-wrapper .option.active,
.styled-radio:checked + .styled-radio-label:before,
.blue-btn-with-states:hover,
.blue-btn-with-states.active,
.result-tab-btn.active,
.radar-style-btn {
  background: #2e7061;
  color: white;
  border-color: #2e7061;
}

.footer {
  position: static;
  max-width: none;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  color: #6c6c6c;
  text-align: left;
  line-height: 30px;
}
@media screen and (max-width: 915px) {
  .footer {
    max-width: none;
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    padding: 0;
  }
}
.footer-bottom-stripe {
  position: static;
  background: transparent;
  width: auto;
  margin-bottom: 0;
  height: auto;
  text-align: left;
  padding: 0 0px;
  box-shadow: none;
  border: none;
  font-size: 16px;
  color: #6c6c6c;
}
.footer-bottom-stripe a {
  color: #6c6c6c;
}

.content {
  padding-top: 0;
  margin-bottom: 20px;
  max-width: none;
}
.main-wrapper {
  min-height: auto;
  padding-bottom: 0px;
  background-color: #f2ece4;
}

.options-wrapper-outer {
  background: transparent;
  box-shadow: none;
  border: none;
  max-width: none;
  margin: 0 auto;
}
.options-wrapper {
  max-width: none;
  padding-bottom: 10px;
}

.options-wrapper .line {
  display: none;
}

.options-wrapper .option .tick {
  display: none;
}

.q-box-collapsed-wrap {
  min-height: 0;
  line-height: 1.5;
  padding:0;
}

.styled-radio-label {
  width: 2.85em;
  height: 2.85em;
  padding-left: 0;
  padding-right: 0;
  line-height: 3em;
}
.styled-radio-label:before {
  font-family: 'FontAwesome';
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(0,0,0,0.2);
  line-height: 3.4;
}

@media screen and (max-width: 550px) {
  .styled-radio-label:before {
    line-height: 2.9;ˇ
  }
}

.balance-row .balance {
  float: right;
  width: 11em;
  text-align: right;
  line-height: 25px;
  padding-right: 0;
  font-size: 20px;
}
.balance-row .nr {
  width: 1.6em;
  color: #2a2a2a;
}

@media screen and (max-width: 550px) {
  .balance-row .balance {
    font-size: 14px;
  }
}
.balance-less-label:before {
  content: "\f060";
}
.balance-more-label:before {
  content: "\f061";
}
.balance-mid-label:before {
  content: "";
}
.balance-mid-label:after {
  font-family: 'FontAwesome';
  white-space:pre;
  content: "\A";
  line-height: 0.5em;
  display: block;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 1px;
  font-size: 18px;
  text-align: center;
  color: rgba(0,0,0,0.2);
}
@media screen and (max-width: 550px) {
  .balance-mid-label:after {
    top: 9px;
  }
}

.styled-radio:checked + .styled-radio-label:after {
  color: white;
}

.balances-view .white-btn {
  width: 11em;
  margin-left: 1em;
  margin-top: 1em;
}
@media screen and (max-width: 550px) {
  .balances-view .white-btn {
    width: 9.9em;
  }
}

 .balance-indicator {
  display: none;
 }

.balances-view .less {
  display: inline-block;
  width: 15px;
  text-indent: -1em;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.balances-view .less:before {
  font-family: 'FontAwesome';
  content: "\f060";
  position: absolute;
  left: -1px;
  top: 3px;
  width: 100%;
  font-size: 16px;
  text-align: right;
}

.balances-view .more {
  display: inline-block;
  width: 15px;
  text-indent: -1em;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.balances-view .more:before {
  font-family: 'FontAwesome';
  content: "\f061";
  position: absolute;
  left: -1px;
  top: 3px;
  width: 100%;
  font-size: 16px;
  text-align: right;
}
.balances-view .equal {
  font-size: 24px;
  position: relative;
  top: 2px;
  line-height: 0;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .balances-view .less:before, .balances-view .more:before {
    left: -3px;
    top: 1px;
    width: 100%;
    font-size: 12px;
  }
  .balances-view .equal {
    top: 4px;
  }

}



.balance-row .question {
  margin-right: 190px;
}
@media screen and (max-width: 550px) {
  .balance-row .question {
    margin-right: 150px;
  }
}

.user-info-row input {
  border-color: #d5d5d5;
  border-radius: 4px;
}
.user-info-row input, .user-info-row select {
  font-size: 16px;
}

.blue-transparent-wrap {
  padding: 40px 0 0 0;
  margin:0;
  background: transparent;
  border: none;
  box-shadow: none;
}
@media screen and (max-width: 915px) {
  .blue-transparent-wrap {
    padding-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .blue-transparent-wrap {
    padding-top: 10px;
  }
}

.radar-list-toggle p {
  display: none;
}
@media screen and (max-width: 915px) {
  .radar-list-toggle, .facebook-btn, .twitter-btn {
    float: none;
ˇ}
 .facebook-txt {
  display: inline;
 }
}
.left-info-box {
  width: auto;
  text-align: center;
  float: none;
}
.facebook-txt p {
  display: none;
}
.facebook-btn, .twitter-btn {
  position: relative;
  top: -2px;
  width: auto;
  height: auto;
  margin: -4px 8px -4px -4px;
  padding: 10px 12px !important;
}

.blue-transparent-wrap .result-tab-btn, .blue-transparent-wrap .facebook-btn, .blue-transparent-wrap .twitter-btn{
  padding: 0.8em 1.2em;
  margin: 0 4px 4px 4px;
  font-weight: normal;

}
.radar-list-toggle {
  display: inline;
}
.tabbed-wrapper {
  margin: 2em auto 0 auto;
  float: none;
  font-size: 20px;
  width: auto;
  position: relative;
}

.party-medium-image {
  width: 70px;
  height: 70px;
}

.percent-bar {
  height: 50px;
}
.percent-bar .nr {
  line-height: 50px;
}


.percent-bar-inner {
  background: #2e7061;
}
.pol-table td {
  padding: 0.5em 0.5em 0.5em 0;
}
.pol-table td:last-child {
  padding-right: 0;
}
.percent-bar-midsize .nr {
  left: 20px;
}
.pol-table thead td {
  padding-bottom: 0;
}
.pol-table tbody tr:hover td {
  background: transparent;
}
.result-list-btns {
  margin-bottom: 1.5em;
}
.pol-table tr td:first-child {
  width: 40%;
}

.pol-table {
  font-size: 18px;
}
.xy-graph {
  font-size: 16px;
  padding: 40px;
}
.partys-xy-table {
  margin:0;
}
.partys-radar-table .pol-table .party-medium-image {
  display: none;
}
.partys-radar-table .pol-table tr td:first-child {
  display: none;
}

@media screen and (max-width: 515px) {
  .partys-dist-table .party-medium-image {
    width: 40px;
    height: 40px;
    max-width: none;
  }
  .partys-dist-table .percent-bar {
    height: 40px;
  }
  .partys-dist-table .percent-bar .nr {
    line-height: 40px;
  }
}


.white-legend, .blue-legend {
  width: 20px;
  height: 20px;
  border-width: 1px;
}

.js-party-radar svg {

  width: 100% !important;
}
.js-party-radar {
    margin: 0;
}

@media screen and (min-width: 916px) {
  .radar-area {
    width: 60%;
    float: left;

  }
  .js-party-radar svg {
    height: 350px;
  }
  .radar-legends {
    width: 60%;
    float: left;
  }
  .partys-radar-table {
    margin-left: 60%;
  }
}

@media screen and (max-width: 400px) {
  .js-party-radar svg {
    zoom: 0.6;
  }
}

.partys-radar-table  table, .partys-radar-table tr, .partys-radar-table td, .partys-radar-table tbody {
  display: block;
  padding:0;
}
.partys-radar-table tr {
  margin-bottom: 0.8em;
}
.partys-radar-table .pol-table-spacier tbody tr td {
  padding:0;
}
@media screen and (max-width: 915px) {
  .pol-table td {
    font-size: 14px;
  }
}
.partys-radar-table .percent-bar {
  height:40px;
}
.partys-radar-table .percent-bar .nr {
  line-height: 40px;
}
.partys-radar-table {
  max-width: none;
  padding:0;
  margin-bottom: 2em;
}
.partys-radar-table thead {
  display: none;
}

.partys-radar-table .percent-bar-inner {
  background: #5a5a5a;
}
.partys-radar-table .blue {
    color: #2a2a2a;
}

.partys-radar-table tr.blue .percent-bar-inner { background-color: #2e7061;}
.partys-radar-table tr.green .percent-bar-inner { background-color: #64984A; }
.partys-radar-table tr.red .percent-bar-inner { background-color: #CE5866; }
.partys-radar-table tr.pink .percent-bar-inner { background-color: #E055E8; }
.partys-radar-table tr.yellow .percent-bar-inner { background-color: #C37238 }
.partys-radar-table tr.purple .percent-bar-inner { background-color: #8032AF; }

@media screen and (max-width: 550px) {
  .content {
    padding: 0 0px;
  }
}
.gray-box-no-side-pad {
  max-width: none;
}

.right-picture-box {
  float: none;
  margin-left: 0;
  width: 330px;
}

.right-picture-box img {
  width: 100%;
  max-width: none;
  background: #2e7061;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  min-height: 100px;
}

.candidate-info-area {
  width: 330px;
  float: left;
  position: relative;
  top: -64px;
}
.js-question-comparison {
  margin-left: 360px;
  margin-bottom: 2em;
}
.politician-view-box {
  display: inline;
}
.politician-view-box .oldcfx {
  display: none;
}
.politician-view-box h1 {
  margin-left: 360px;
}

.question-comparison {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 0.8em;
}

.answer-boxes {
  margin:0;
}
.question-comparison .answer-boxes .gray-box {
  background: transparent;
  padding:0 0.5em 0 0;
  min-height: 0;
  width: 50%;
  margin:0;
  color: #6c6c6c;
}
.question-comparison .answer-boxes .gray-box.last {
  margin:0;
  padding:0 0 0 0.5em;
}
.question-comparison .answer-boxes .gray-box .box-header {
  display: inline;
  padding:0;
}
.question-comparison .answer-boxes .gray-box .box-header:after {
  content:":";
}
.question-comparison .answer-boxes .gray-box .inner {
  display: inline;
  padding:0;
}

.js-question-comparison .question-text {
  text-align: left;
  font-size: 23px;
  padding:0 0 0.2em 0;
}
.answer_source  {
  clear: both;
  font-size: 16px;
  color: #6c6c6c;
}

.answer_source.txt-right {
  text-align: left;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

}
.answer_source.txt-right a {
  text-decoration: none;
  color: black;
}

.answer_source.txt-right a:hover {
  color: #2e7061;
}
.answer_source_link:after {
  font-family: 'FontAwesome';
  content: "\f0dd";
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  position: relative;
  top: -3px;
  margin-left: 0.3em;
}

.candidate-view .begin-again-section {
  margin-left: 360px;
}

.candidate-view .left-data-table, .candidate-view .left-data-table tr, .candidate-view .left-data-table tbody {
  display: block;
}
.candidate-view .left-data-table tr {
  padding: 1em 0;
  font-size: 20px;
}
.candidate-view .left-data-table td {
  display: inline;
  width: auto !important;
}
.candidate-view .left-data-table tr td b:first-child:after {
  content: ":";
}
.candidate-description {
  font-size: 16px;
  margin-top: 1em;
}

.candidate-view .left-data-table {
  display: none;
}

@media screen and (max-width: 730px) {
  .candidate-info-area {
    top:0;
    float: none;
    width: auto;
  }

  .politician-view-box h1 {
    margin-left:0;
  }

  .candidate-info-area .right-picture-box {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
    width: 210px;
  }
  .politician-view-box .oldcfx {
    display: block;
    padding-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  .js-question-comparison, .candidate-view .begin-again-section {
    margin-left:0;
  }
}

@media screen and (max-width: 550px) {
  .candidate-info-area .right-picture-box {
    float: none;
    margin: 0 auto;
  }
  .right-picture-box {
    float: none;
    margin-left: 0;
    width: 140px;
  }
  .question-comparison .answer-boxes .gray-box .box-header {
    display: block;
  }

  .left-info-box {
    text-align: left;
  }
}
.result-list-btns {
  text-align: right;
}

.social-media {
  display: inline;
  float: none;
  text-align: left;
}
.facebook-like-btn, .twitter-follow-btn {
  display: block;
  float: none;
  margin: 1px 0;
}

.social-media-iframebtns {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 56px;
}

@media screen and (max-width: 915px) {
  .social-media-iframebtns {
      height: 50px;
  }
}

.candidate-party {
  margin-top: 1em;
  margin-bottom: 0;
}

.bottom-btn-wrapper {
  text-align: center;
}

.bottom-btn-wrapper .white-btn:not(.js-skip) {
  font-weight: bold;
  background: #2e7061;
  color: white;
  border-color: #2e7061;
  text-transform: uppercase;
}
.bottom-btn-wrapper .white-btn.js-skip {
  width: 11em;
}

/* Used for loading fontawsome icons on start not when first displayed */
.font-preloader {
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  overflow: hidden;
}

.font-preloader:before {
  content: "\A\f060\f061\f0dd";
  font-family: 'FontAwesome';
}

.share-txt {
  display: none;
}

@media screen and (max-width: 915px) {
  .facebook-btn, .twitter-btn {
    border: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 915px) {
  .social-media {
    width: 90px;
  }
}

/* us2016congress.css overrides */
.moving-logo {
  display: none;
}

.big-start-button {
  width: auto;
}

[data-view="start"]  .main-wrapper {
  min-height: auto;
}

.balance-row {
  border-top: none;
}

.gray-box-padless .pad-40.mob-pad-15 {
  padding: 0;
}

.user-info-row label {
  display: inline-block;
  width: 30%;
}

@media screen and (max-width: 500px) {
  .user-info-row label {
    width: auto;
    display: block;
  }
}

.user-info-row input[type="text"],
.user-info-row input[type="number"],
.user-info-row input[type="email"],
.radio-group,
.custom-select {
  display: inline-block;
  width: 70%;
}

@media screen and (max-width: 500px) {
  .user-info-row input[type="text"],
  .user-info-row input[type="number"],
  .user-info-row input[type="email"],
  .radio-group,
  .custom-select {
    width: 100%;
  }
}

.custom-select {
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-select:after {
  border-color: #2e7061 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0)
}

.bottom-btn-wrap-extended {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

.bottom-btn-wrapper .compact-btn {
  padding: 1em 2em;
  line-height: 1.2;
}

.blue-btn {
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-radius: 4px;
  border-color: #2e7061;
  background-color: #2e7061;
}
.blue-btn:not(.wide-btn):not(.twitter-btn) {
  width: 11em;
  margin-left: 1em;
}


.blue-btn:hover {
  background-color: #2e7061;
}

@media screen and (max-width: 550px) {
  .blue-btn {
    margin-top: 10px;
    margin-bottom: 20px !important;
    font-size: 14px;
  }

  .bottom-btn-wrapper .btn {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .radio-group,
  .extra-questions-form {
    line-height: 1.3;
  }

  .extra-question-options {
    margin-top: 5px !important;
  }
}

.result-tab-btn:hover {
  background-color: #fff;
}

.result-tab-btn.active {
  background-color: #2e7061;
}

.gray-legend-wrap {
  margin-bottom: 20px;
}

.foot-links {
  float: right;
  padding-right: 0;
}

.foot-links a {
  font-size: 16px;
  font-weight: normal;
  color: #6c6c6c;
}

.lang-menu {
  display: none;
}

.share-box-view { display: inline; }

input:checked + label.designed-radio:after {
  background-color: #2e7061;
}

/* new additions */

.header {
  display: block;
  margin: 0 auto 0 auto !important;
  height: auto;
  color: #222;
  padding: 0 20px;
  max-width: none !important;
}
[data-view="start"] .header {
  max-width: none;
}
.main-logo-link {
  display: none;
}
.main-menu {
  float: none;
  margin: 0;
}
.appstore-links {
  display: none !important;
}
@media screen and (max-width: 550px) {
  .header {
    padding: 0px;
  }
  .main-menu {
      float: none;
      margin-top: 0px;
      max-width: none;
  }
}
.main-menu a {
  background: white;
  color: #333;
  border: 1px solid #d5d5d5;
  border-bottom-width: 2px;
  padding: 1px 1em 0 1em;
}
.main-menu a:hover {
  border-color: #2e7061;
}

.main-menu .blue-header-btn{
  background-color: #2e7061;
  border: 1px solid #2e7061;
  color: white;
  border-bottom-width: 2px;
}

body.modal-open .global-wrapper {
  opacity: 0.2;
}

.modal-overlay {
  background: rgba(255,255,255, 0.2);
}

.modal-outer {
  margin: 0;
}

.modal {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}
.modal-tabs .tab {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #333;
}
.modal-tabs .tab:hover {
  background: rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #333;
}

.modal-tabs .tab.active {
  background: #2e7061;
  border-color: #2e7061;
  color: white
}
.modal-tabs .tab.active:after {
  border-top-color: #2e7061;
}

.modal-tabs .tab.active:hover {
  background: #2e7061;
  border-color: #2e7061;
  color: white
}
.modal-tabs .tab.active:hover:after {
  border-top-color: #2e7061;
}

.blue-btn {
  background-color: #2e7061;
}

.blue-btn:hover {
  background-color: #2e7061;
}

.customer-menu-name {
  color: #333;
}
.customer-menu-name:after {
  border-top-color: #333;
}

.customer-dropdown:before {
  display: none;
}
.customer-dropdown {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
}
.customer-dropdown a {
  border:0;
}
.content .bottom-btn-wrap-extended {
  padding-left: 20px;
  padding-right: 20px;
}
.modal .bottom-btn-wrap-extended {
  padding-bottom: 25px;
}

.social-media {
  display: block;
  float: none;
}
@media screen and (max-width: 915px) {
  .social-media {
    width: auto;
  }
}

.sharer-info-box {
  padding:0;
  text-align: right;
  line-height: 1.3em;
  background: transparent;
}
.sharer-avatar {
  float: right;
  margin-left: 1em;
}
.sharer-name {
  font-size: 1.2em;
  color: #2e7061;
  margin: 0.3em 0;
}

.left-info-box {
  margin-right:0;
}

.social-btns {
  clear: both;
  text-align: right;
  white-space: nowrap;
  min-width: 160px;
  margin-top: 0px;
}

@media screen and (max-width: 915px) {
  .social-btns {
    display: block;
  }
}

.social-btns .btn {
  padding: 0.1em 0.2em;
  line-height: 1.8em;
  font-size: 14px;
  color: white;
  margin:0 1px;
}
.social-btns .btn:first-child {
  margin-left:0;
}
.social-btns .btn:last-child {
  margin-right: 0;
}

.social-btns .btn:hover {
  opacity: 0.9;
}
.social-btns .btn img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
}

.twitter-btn, .twitter-btn:hover {
  border: 0;
  background: #0c7abf;
}

.facebook-btn,  .facebook-btn:hover {
  border: 0;
  background: #4267b2;
}

.social-media-iframebtns {
  display: block;
  width: auto;
  text-align: right;
}

@media screen and (max-width: 550px) {
  .share-shows-customer .social-media {
    min-width: 300px;
  }
  .share-shows-customer .social-media-iframebtns, .share-shows-customer .social-btns, .sharer-info {
    text-align: center;
  }
  .share-shows-customer .sharer-avatar {
    float: none;
    width: 140px;
    height: 140px;
  }
}

.facebook-like-btn,
.twitter-follow-btn {
  display: inline-block;
  margin:0;
  padding:0;
  vertical-align: top;
}
.twitter-follow-btn > iframe {
  display: block;
  margin-top: 1px;
}


.left-info-box.left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: left;
  flex-wrap: wrap-reverse;
}

.left-info-box.left .radar-list-toggle {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.result-tab-btn {
  white-space: nowrap;
}


@media screen and (max-width: 750px) {
  .share-shows-customer .social-media {
    margin: auto;
  }
}
@media screen and (max-width: 550px) {
  .left-info-box.left {
    text-align: center;
  }
}

.blue-transparent-wrap {
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .blue-transparent-wrap .result-tab-btn {
    padding: 0.2em 0.5em;
    margin: 0 4px 4px 4px;
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .blue-transparent-wrap .result-tab-btn {
    padding: 0.1em 0.5em;
    margin: 1px 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .radar-list-toggle {
    max-width: none;
    margin-top: 10px;
  }
}
 .tabbed-wrapper {
  margin-top: 1em;
 }

 .sharer-info-box.shows-upsell {
   max-width: 200px;
 }

 .social-media-iframebtns {
   height: 21px;
 }
 @media screen and (max-width: 550px) {
    .social-media-iframebtns {
      margin-bottom: 20px;
    }
 }

 .sharer-info-box.shows-upsell {
   -webkit-order: 3;
   -moz-order: 3;
   -ms-order: 3;
   order: 3;
 }
 .no-share-text .btn {
   display: none;
 }
.no-share-text {
  margin-top: 0.3em;
  margin-bottom: -40px;
  padding: 0;
}


.share-shows-upsell .share-box-view {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 915px) {
  .sharer-info-box:not(.shows-upsell):not(.shows-customer) + .social-btns .btn {
      display: inline-block;
  }
}

@media screen and (max-width: 550px) {
   .share-shows-upsell .share-box-view,
   body:not(.share-shows-customer) .share-box-view {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     -moz-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;

   }

   .share-shows-upsell .social-btns .btn,
   body:not(.share-shows-customer) .social-btns .btn {
      font-size: 11px;
      min-width: 67px;
      margin-right: 1px;
      padding-top: 1px !important;
   }

   .share-shows-upsell .social-btns .btn img,
   body:not(.share-shows-customer) .social-btns .btn img {
      width: 12px;
      margin-right: 4px;

   }

   .share-shows-upsell .social-btns,
   body:not(.share-shows-customer) .social-btns {
     position: relative;
     margin-right: 2px;
     padding-top: 0 !important;
     margin-left: auto;
   }

   .share-shows-upsell .social-media-iframebtns,
   body:not(.share-shows-customer) .social-media-iframebtns {
     margin-right: auto;
     margin-bottom: 0;
   }

   .share-shows-upsell .no-share-text,
   body:not(.share-shows-customer) .no-share-text {
     margin:0;
   }

  .share-shows-upsell .social-media,
  body:not(.share-shows-customer) .social-media {
    margin: 0 auto;
  }

  .share-shows-upsell .sharer-info-box.shows-upsell,
  body:not(.share-shows-customer) .sharer-info-box.shows-upsell {
    max-width: none;
    text-align: center;
    margin: 0 auto;
  }
}

.restart-btn {
  margin-right: 0;
}

.twitter-btn {
  width: auto;
  margin-bottom: 0 !important;

}

.make-private, .change-profile-image-btn {
  color: #2e7061;
}

.main-menu {
  padding: 4px 0;
}

.modal-close {
  color: #333;
}


.google-login-btn {
  font-size: 14px;
}
