<%= fields_for @question, {}, builder: TranslateableFormBuilder do |f| %>
<fieldset class="form-group">
  <%= f.label :name %>
  <%= f.translatable_text_field :name, class: 'form-control', placeholder: 'Enter statement name' %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :description %>
  <%= f.translatable_text_area :description, class: 'form-control', placeholder: 'Enter statement description' %>
</fieldset>

<h3>Dimensions (spider and landscape)</h3>

<table class="table table-questions">
<tr>
  <% [1, 0, -1].each do |v| %>
  <th style="width: 1%"><%= v %></th>
  <% end %>
  <th></th>
</tr>
<% @parameters.each do |parameter| %>
<tr>
  <% [1, 0, -1].each do |v| %>
  <td><%= radio_button_tag "question[params][#{parameter.id}]", v, @question.param_value_for(parameter.id) == v %></td>
  <% end %>
  <td><%= parameter.name %></td>
</tr>
<% end %>
<tr>
  <% [1, 0, -1].each do |v| %>
  <td><%= radio_button_tag "question[params][xy-lr]", v, @question.param_value_for('xy-lr') == v %></td>
  <% end %>
  <td><%= t('admin.common.economic_right') %></td>
</tr>
<tr>
  <% [1, 0, -1].each do |v| %>
  <td><%= radio_button_tag "question[params][xy-lc]", v, @question.param_value_for('xy-lc') == v %></td>
  <% end %>
  <td><%= t('admin.common.liberal') %></td>
</tr>
</table>
<% end %>
