<%= content_tag_for :tr, question do %>
  <td></td>
  <td><%= question.id %></td>
  <td><%= question.name.truncate(50) %></td>
  <td><%= lt(question.created_at) %></td>
  <td><%= lt(question.updated_at) %></td>
  <td>
    <%= link_to 'Edit', edit_admin_question_path(question) %>
    <%= link_to 'Delete', admin_question_path(question), data: {method: :delete, confirm: 'Are you sure you want to delete this question?'} %>
    <%= link_to '&#9650;'.html_safe, move_admin_question_path(question, direction: :up), remote: true, method: :put, class: 'move-up', title: 'Move up' %>
    <%= link_to '&#9660;'.html_safe, move_admin_question_path(question, direction: :down), remote: true, method: :put, class: 'move-down', title: 'Move down' %>
  </td>
<% end %>
