<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Edit statement</h1>
    
    <%= form_for [:admin, @question] do |f| %>
      <%= render partial: 'form' %>
      <button type="submit" class="btn btn-primary">Save statement</button>
    <% end %>
  </div>
</div>
