<h1>
  Statements <small>(<%= @questions.count %>)</small>
  
  <%= link_to 'Add statement', new_admin_question_path, class: 'btn btn-success pull-right' %>
</h1>

<table class="table table-bordered sortable">
<thead>
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>Statement</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>
</thead>
<tbody>
<%= render partial: 'question', collection: @questions %>
</tbody>
</table>
