<tr>
  <td><%= district.id %></td>
  <td><%= district.code %></td>
  <td><%= district.name %></td>
  <td><%= lt(district.created_at) %></td>
  <td><%= lt(district.updated_at) %></td>
  <td>
    <%= link_to 'Edit', edit_admin_state_district_path(@state, district) %>
    <%= link_to 'Delete', admin_state_district_path(@state, district), data: {method: :delete, confirm: 'Are you sure you want to delete this district?'} %>
  </td>
</tr>
