<%= fields_for @district, {}, builder: TranslateableFormBuilder do |f| %>
<fieldset class="form-group">
  <%= f.label :code, 'Code *' %>
  <%= f.text_field :code, class: 'form-control', placeholder: 'Unique code eg CA-14' %>
  <small class="text-muted">District code</small>
</fieldset>
<fieldset class="form-group">
  <%= f.label :name %>
  <%= f.translatable_text_field :name, class: 'form-control', placeholder: 'Name' %>
</fieldset>
<% end %>
