<h1>
  <%= link_to @state.name, edit_admin_state_path(@state) %> &raquo; Districts <small>(<%= @districts.count %>)</small>

  <%= link_to 'Add district', new_admin_state_district_path(@state), class: 'btn btn-success pull-right' %>
</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Code</th>
    <th>Name</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'district', collection: @districts %>
</table>
