<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= link_to @state.name, admin_state_districts_path(@state) %> &raquo; Add district</h1>

    <%= form_for [:admin, @state, @district] do |f| %>
      <%= render partial: 'form' %>
      <button type="submit" class="btn btn-primary">Create district</button>
    <% end %>
  </div>
</div>
