<% if @resource.is_a?(Customer) %>
  <%= t('.message_body_html', user_name: (@resource.full_name.presence || @resource.email), user_email: @resource.email, password_url: edit_account_customer_password_url(@resource.account.code, @resource.account.languages.first.code, reset_password_token: @token)) %>
<% else %>
  <% if @resource.password_reset_by_admin %>
    <%= t('.new_user_message_body_html', user_name: @resource.email, user_email: @resource.email, password_url: edit_password_url(@resource, reset_password_token: @token)) %>
  <% else %>
    <%= t('.message_body_html', user_name: @resource.email, user_email: @resource.email, password_url: edit_password_url(@resource, reset_password_token: @token)) %>
  <% end %>
<% end %>
<p><%= t('mailer.common.sent_from') %></p>
