<% if @user.errors.present? %>
  <ul class="p-l-0 text-danger">
    <% @user.errors.keys.each do |k| %>
      <ul class="p-l-0"><%= k %>: <%= @user.errors[k].first %></ul>
    <% end %>
  </ul>
<% end %>

<%= fields_for @user do |f| %>
<fieldset class="form-group">
  <%= f.label :password, 'Password' %>
  <%= f.password_field :password, class: 'form-control' %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :password_confirmation, 'Password confirmation' %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</fieldset>
<% end %>