<div class="modal create-user-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">Add user</h4>
      </div>
      <%= form_for User.new, url: admin_users_path do |form| %>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Email:</label>
            <%= form.email_field :email, class: 'form-control' %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send invite</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
