<tr>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.sign_in_count %></td>
  <td><%= lt(user.current_sign_in_at) %></td>
  <td><%= user.current_sign_in_ip %></td>
  <td><%= lt(user.last_sign_in_at) %></td>
  <td><%= user.last_sign_in_ip %></td>
  <td><%= lt(user.created_at) %></td>
  <td>
    <%= link_to 'Edit', edit_admin_user_path(user) %>
    <%= link_to 'Delete', admin_user_path(user), data: {method: :delete, confirm: 'Are you sure you want to delete this user?'} unless user == current_admin_user %>
  </td>
</tr>
