<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Edit user <small><%= @user.email %></small></h1>

    <%= form_for [:admin, @user] do |f| %>
      <%= render partial: 'form' %>
      <button type="submit" class="btn btn-primary">Save user</button>
    <% end %>
  </div>
</div>
