<h1>
  Users
  
  <a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target=".create-user-modal">Add new</a>
</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Email</th>
    <th>Logins</th>
    <th>Current sign in</th>
    <th>IP</th>
    <th>Last sign in</th>
    <th>IP</th>
    <th>Created at</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'user', collection: @users %>
</table>

<%= render partial: 'new' %>
