<%= content_tag_for :tr, extra_question do %>
  <td></td>
  <td><%= extra_question.id %></td>
  <td><%= extra_question.name.truncate(50) %></td>
  <td><%= lt(extra_question.created_at) %></td>
  <td><%= lt(extra_question.updated_at) %></td>
  <td>
    <%= link_to 'Edit', edit_admin_extra_question_path(extra_question) %>
    <%= link_to 'Delete', admin_extra_question_path(extra_question), data: {method: :delete, confirm: 'Are you sure you want to delete this question?'} %>
    <%= link_to '&#9650;'.html_safe, move_admin_extra_question_path(extra_question, direction: :up), remote: true, method: :put, class: 'move-up', title: 'Move up' %>
    <%= link_to '&#9660;'.html_safe, move_admin_extra_question_path(extra_question, direction: :down), remote: true, method: :put, class: 'move-down', title: 'Move down' %>
  </td>
<% end %>
