<%= fields_for @extra_question, {}, builder: TranslateableFormBuilder do |f| %>
<fieldset class="form-group">
  <%= f.label :name %>
  <%= f.translatable_text_field :name, class: 'form-control', placeholder: 'Enter question name' %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :description %>
  <%= f.translatable_text_area :description, class: 'form-control', placeholder: 'Enter question description' %>
</fieldset>

<h3>Choices</h3>

<div class="extra-questions numbered-list">
<% (@extra_question.options || {}).keys.each do |key| %>
  <fieldset class="form-group">
    <%= f.label key, 'choice', class: 'numbered-item' %> <small><%= link_to 'remove', '#', class: 'text-muted', data: {behavior: 'remove-extra-question-option'} %></small>
    <%= f.translatable_serialized_text_field key, for: :options, class: 'form-control', placeholder: 'Enter choices' %>
  </fieldset>
<% end %>
</div>
<%= link_to 'Add choice', '#', class: 'btn btn-info btn-sm', data: {behavior: 'add-extra-question-option'} %>
<br><br>

<script id="extra-question-template" type="text/template">
  <fieldset class="form-group">
    <%= f.label 'NEW-ID', 'choice', class: 'numbered-item' %> <small><%= link_to 'remove', '#', class: 'text-muted', data: {behavior: 'remove-extra-question-option'} %></small>
    <%= f.translatable_serialized_text_field 'NEW-ID', for: :options, class: 'form-control', placeholder: 'Enter choice' %>
  </fieldset>
</script>
<% end %>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    $('[data-behavior="add-extra-question-option"]').on('click', function(event) {
      event.preventDefault();
      $('.extra-questions').append($('#extra-question-template').html().replace(/NEW-ID/g, new Date().getTime()));
    });

    $('[data-behavior="remove-extra-question-option"]').on('click', function(event) {
      event.preventDefault();
      $(this).closest('.form-group').remove();
    });
  });
</script>
