<h1>
  Extra questions <small>(<%= @extra_questions.count %>)</small>

  <%= link_to 'Add question', new_admin_extra_question_path, class: 'btn btn-success pull-right' %>
</h1>

<table class="table table-bordered sortable">
<thead>
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>Question</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>
</thead>
<tbody>
<%= render partial: 'extra_question', collection: @extra_questions %>
</tbody>
</table>
