<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add question</h1>

    <%= form_for [:admin, @extra_question] do |f| %>
      <%= render partial: 'form' %>
      <button type="submit" class="btn btn-primary">Create question</button>
    <% end %>
  </div>
</div>
