<tr>
  <td><%= state.id %></td>
  <td><%= state.code %></td>
  <td><%= state.name %></td>
  <td><%= lt(state.created_at) %></td>
  <td><%= lt(state.updated_at) %></td>
  <td>
    <%= link_to 'Edit', edit_admin_state_path(state) %>
    <%= link_to "Districts (#{state.districts.count})", admin_state_districts_path(state) %>
    <%= link_to 'Delete', admin_state_path(state), data: {method: :delete, confirm: 'Are you sure you want to delete this state?'} %>
  </td>
</tr>
