<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Edit state</h1>

    <%= form_for [:admin, @state] do |f| %>
      <%= render partial: 'form' %>
      <button type="submit" class="btn btn-primary">Save state</button>
    <% end %>
  </div>
</div>
