<h1>
  States <small>(<%= @states.count %>)</small>

  <%= link_to 'Add state', new_admin_state_path, class: 'btn btn-success pull-right' %>
</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Code</th>
    <th>Name</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'state', collection: @states %>
</table>
