<tr>
  <td><%= submission.id %></td>
  <td><%= lt(submission.created_at) %></td>
  <td><%= submission.language_code %></td>
<%
=begin%>
 
  <td><%= submission.remote_ip %></td>
  <td><%= submission.location_data['country_name'] if submission.location_data.present? %></td>
  <td><%= submission.location_data['city'] if submission.location_data.present? %></td>
   
<%
=end%>
  <td><%= submission.publisher.try(:capitalize) %></td>
  <td><%= submission.full_name %></td>
  <td><%= mail_to submission.email if submission.email %></td>
  <td><%= link_to 'Show', admin_customer_path(submission.customer_id) if submission.customer_id.present? %></td>
  <td><%= link_to 'Details', admin_submission_path(submission) %></td>
</tr>
