<h1>
  Submissions <small>(<%= @submissions.total_entries %>)</small>
  
  <div class="btn-group pull-right">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu">
    <%= link_to 'Download CSV', admin_submissions_path(format: :csv), class: 'dropdown-item' %>
    <%= link_to 'Download CSV (with candidates)', admin_submissions_path(format: :csv, include_candidates: true), class: 'dropdown-item' %>
  </div>
</div>
</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Submitted</th>
    <th>Language</th>
    <%
=begin%>
 <th>IP address</th>
    <th>Country</th>
    <th>City</th> 
<%
=end%>
    <th>Publisher</th>
    <th>Name</th>
    <th>Email</th>
    <th>Customer</th>
    <th></th>
  </tr>
</thead>
<%= render partial: 'submission', collection: @submissions %>
</table>

<%= will_paginate @submissions, renderer: ::BootstrapPagination::Rails %>
