<%
  header = [
    'id',
    'Publisher',
    'Language',
    'Submitted',
    'External ref',
    #'IP address',
    #'Country code',
    #'Country name',
    #'Subdiv. code',
    #'Subdiv. name',
    #'City',
    #'Latitude',
    #'Longitude',
    'Start to result',
    'Seconds to result',
    'Open page at',
    'Left page at',
    'Name',
    'Gender',
    'Year of birth',
    'Race/ethnicity',
    'ZIP code',
    'State',
    'District',
    'Education',
    'Email',
    'Cell phone',
    'Facebook',
    'Twitter',
    'Customer id',
    'Title',
  ]

  @questions.each do |q|
    header << "S ID #{q.id} - answer"
    header << "S ID #{q.id} - balance"
  end

  @extra_questions.each do |q|
    header << "EQ ID #{q.id}"
  end

  if @include_candidates
    @candidates.each do |c|
      header << c.name
    end
  end

  submissions_csv = CSV.generate(col_sep: ';') do |csv|
    # header row
    csv << header
    # data rows
    @submissions.find_each do |submission|
      row = [
        submission.id,
        submission.publisher.try(:capitalize),
        submission.language_code,
        lt(submission.created_at),
        submission.external_ref,
        # submission.remote_ip
      ]
      # if submission.location_data.present?
      #   %w(country_code country_name subdivision_code subdivision_name city latitude longitude).each do |k|
      #     row << submission.location_data[k]
      #   end
      # else
      #   row += Array.new(7)
      # end

      row += [
        submission.start_to_result,
        submission.seconds_to_result,
        lt(submission.open_page_at),
        lt(submission.left_page_at),
        submission.full_name,
        submission.gender,
        submission.year_of_birth,
        submission.ethnicity,
        submission.zip,
        submission.state.try(:name),
        submission.district.try(:name),
        submission.education,
        submission.email,
        submission.phone,
        submission.facebook,
        submission.twitter,
        submission.customer_id,
        submission.db_title
      ]

      answers = submission.answers.each_with_object({}) { |answer, h| h[answer['question_id']] = answer }

      @questions.each do |q|
        if answers[q.id]
          row << answers[q.id]['answer']
          row << answers[q.id]['balance']
        else
          row += Array.new(2)
        end
      end

      @extra_questions.each do |q|
        answer = (submission.extra_questions || {})[q.id.to_s]
        if answer.present?
          row << (q.option_value_for(answer, @language).presence || answer)
        else
          row << ''
        end
      end

      if @include_candidates
        @candidates.each do |c|
          row << candidate_distance(c, answers)
        end
      end

      csv << row
    end
  end
%>
<%= raw submissions_csv %>
