<div class="row">
  <div class="col-md-12">
    <h1>
      Submission details
      <small><small><%= link_to 'result page', account_home_path(current_account.code, @submission.publisher.to_s, @submission.language_code, anchor: "results/list/#{@submission.client_hash}"), target: '_blank' %></small></small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal col-md-12 col-lg-6">
      <%= list_row 'Customer', (link_to('Show', admin_customer_path(@submission.customer_id)) if @submission.customer_id.present?), label_html: {class: 'col-md-5'} %>
      <%= list_row 'Name', @submission.full_name, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Gender', @submission.gender, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Year of birth', @submission.year_of_birth, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Race/ethnicity', @submission.ethnicity, label_html: {class: 'col-md-5'} %>
      <%= list_row 'ZIP code', @submission.zip, label_html: {class: 'col-md-5'} %>
      <%= list_row 'State', @submission.state.name, label_html: {class: 'col-md-5'} if @submission.state %>
      <%= list_row 'District', @submission.district.name, label_html: {class: 'col-md-5'} if @submission.district %>
      <%= list_row 'Education', @submission.education, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Email', @submission.email, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Cell phone', @submission.phone, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Facebook', @submission.facebook, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Twitter', @submission.twitter, label_html: {class: 'col-md-5'} %>
    </dl>
    <dl class="dl-horizontal col-md-12 col-lg-6">
      <%= list_row 'Title', @submission.db_title, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Publisher', @submission.publisher.try(:capitalize), label_html: {class: 'col-md-5'} %>
      <%= list_row 'Language', @submission.language_code, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Submitted', lt(@submission.created_at), label_html: {class: 'col-md-5'} %>
      <%= list_row 'External ref', @submission.external_ref, label_html: {class: 'col-md-5'} %>
      <%
=begin%>
 <%= list_row 'IP address', @submission.remote_ip, label_html: {class: 'col-md-5'} %> 
<%
=end%>
      <%= list_row 'Start to result', @submission.start_to_result, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Seconds to result', @submission.seconds_to_result, label_html: {class: 'col-md-5'} %>
      <%= list_row 'Open page at', lt(@submission.open_page_at), label_html: {class: 'col-md-5'} %>
      <%= list_row 'Left page at', lt(@submission.left_page_at), label_html: {class: 'col-md-5'} %>
    </dl>
  </div>
  <%
=begin%>
 <% if @submission.location_data.present? %>
    <div class="col-md-12">
      <h3>Location details</h3>
      <dl class="dl-horizontal col-md-12 col-lg-6">
        <% %w(country_code country_name subdivision_code subdivision_name city latitude longitude).each do |k| %>
          <%= list_row k.humanize, @submission.location_data[k], label_html: {class: 'col-md-5'} if @submission.location_data[k].present? %>
        <% end %>
      </dl>
    </div>
  <% end %> 
<%
=end%>
</div>

<% if @submission.answers.present? %>
<div class="row">
  <div class="col-md-12">
    <h3>Statement answers</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Statement</th>
          <th>Answer</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @submission.answers.each do |a| %>
          <tr>
            <td><%= a['question_id'] %></td>
            <td><%= @questions_hash[a['question_id']].try(:name) %></td>
            <td><%= a['answer'] %></td>
            <td><%= a['balance'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<% if @submission.extra_questions.present? %>
<div class="row">
  <div class="col-md-12">
    <h3>Extra questions</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Question</th>
          <th>Answer</th>
        </tr>
      </thead>
      <tbody>
        <% language = current_account.languages.default_language.first %>
        <% @submission.extra_questions.each do |k, v| %>
          <% q = current_account.extra_questions.find_by_id(k)  %>
          <tr>
            <td><%= q.try(:id) %></td>
            <td><%= q.try(:name) %></td>
            <td><%= q.option_value_for(v, language).presence || v %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>