<!DOCTYPE HTML>
<html>
<head prefix="og: http://ogp.me/ns#">
  <title><%= content_for?(:title) ? "#{content_for(:title)} - euandi2019" : 'euandi2019' %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @account.feature_customers? %>
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700&amp;subset=latin-ext" rel="stylesheet">
  <% else %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin-ext,cyrillic" rel="stylesheet" type="text/css">
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <% if File.exists?(Rails.root.join('public', 'stylesheets', "#{@account.code}.css")) %>
      <link rel="stylesheet" href="/stylesheets/<%= @account.code %>.css" type="text/css" media="screen">
  <% end %>
  <% if @publisher.present? && File.exists?(Rails.root.join('public', 'stylesheets', @account.code, "#{@publisher}.css")) %>
      <link rel="stylesheet" href="/stylesheets/<%= @account.code %>/<%= @publisher %>.css" type="text/css" media="screen">
  <% end %>
  <% if @publisher.present? && File.exists?(Rails.root.join('public', 'javascripts', @account.code, "#{@publisher}.js")) %>
      <script src="/javascripts/<%= @account.code %>/<%= @publisher %>.js"></script>
  <% end %>
  <meta property="og:site_name" content="Societly"/>
  <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : account_translation_keys[:key_og_title] %>"/>
  <meta property="og:description" content="<%= content_for?(:description) ? content_for(:description) : account_translation_keys[:key_og_description] %>"/>
  <meta property="og:type" content="website"/>
  <%
=begin%>
 <meta property="og:image" content="<%= root_url %>images/2016_logo.png"/>
<%
=end%>
  <meta property="og:image" content="<%= root_url %>images/new-logo.svg"/>
  <meta property="description" content="<%= content_for?(:description) ? content_for(:description) : account_translation_keys[:key_og_description] %>"/>
  <%= csrf_meta_tags %>

  <script>
      window.fbAsyncInit = function () {
          FB.init({
              <% if Rails.application.config.app.oauth.enabled.include?(:facebook) %>
              appId: '<%= Rails.application.config.app.oauth.facebook.key %>',
              <% end %>
              xfbml: true,
              cookie: true,
              version: 'v2.8'
          });
      };

      (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {
              return;
          }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

  <% if @account.feature_customers? && Rails.application.config.app.oauth.enabled.include?(:google) %>
      <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
      <script>
          function start() {
              gapi.load('auth2', function () {
                  auth2 = gapi.auth2.init({
                      client_id: '<%= Rails.application.config.app.oauth.google.key %>',
                  });
              });
          }
      </script>
  <% end %>

</head>
<body class="gradient
  <% if @publisher.present? %> publisher-<%= @publisher %>
  <% end %>" id="main-view">
<%= yield %>

<!-- Change the wallpaper based on the URL -->
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        // TODO: change en to something like brazil
        if (window.location.pathname.indexOf('brazil2018') > -1) {
            document.body.style.backgroundImage = "url('/images/BRAZIL_2018.jpg')";
        }
    });
</script>
</body>
</html>
